@use "../../../shared/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .subTitle {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    color: #727E9B;
    text-align: center;
    letter-spacing: -0.16px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.errorMessage {
  font-size: 14px;
  font-weight: 450;
  font-style: normal;
  line-height: normal;
  color: #B74345;
}

.footer {
  width: 100%;
}

@media (max-width: $media-tab-mini-plus) {
  .content {
    .subTitle {
      font-size: 12px;
      letter-spacing: -0.12px;
    }


  }

  .errorMessage {
    font-size: 10px;
  }
}