@use "../../shared/styles/variables.scss" as *;

.footer {
  padding: $spacing-2xl $spacing-md;
  background-color: $color-bg-banner;
}

.footerGrid {
  max-width: $container-max-width;
  width: 100%;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr auto;
  grid-template-areas:
    "logo logo"
    "rights rights"
    "sep-menu sep-menu"
    "menu support"
    "sep-money sep-money"
    "money telegram"
    "sep-support sep-support"
    "ltd ltd";
}

.separator {
  background-color: $color-bg-on-block;
  height: 1px;
  width: 100%;
  margin: $spacing-xl 0;
}

.logo {
  grid-area: logo;
}

.footerRight {
  grid-area: rights;
  color: $color-text-secondary;
  font-weight: $font-weight-light;
  margin-top: $spacing-md;
}

.footerTelegram {
  grid-area: telegram;
  color: $color-text-primary;
  background-color: $color-bg-on-block;
  justify-self: end;

  & > span:nth-child(1) {
    height: auto !important;
  }
}

.footerMenu {
  grid-area: menu;
}

.footerSupport {
  grid-area: support;
}

.separatorMoney {
  grid-area: money;
}

.footerLtdText {
  grid-area: ltd;
  color: $color-bg-on-block-hover;
  font-weight: 450;
  font-size: $font-size-xs-plus;
}

.separatorMenu {
  grid-area: sep-menu;
}

.separatorMoney {
  grid-area: sep-money;
}

.separatorSupport {
  grid-area: sep-support;
}

.footerMoney {
  display: flex;
  gap: $spacing-xxs;
}

@media screen and (max-width: $media-laptop-plus) {
  .footerGrid {
    grid-template-areas:
    "logo logo"
    "rights rights"
    "telegram telegram"
    "sep-menu sep-menu"
    "menu menu"
    "support support"
    "sep-money sep-money"
    "money money"
    "sep-support sep-support"
    ;
  }
}
