@use "../../shared/styles/variables.scss" as *;

.footer {
  background-color: $color-bg-banner;
}

.footerGrid {
  max-width: $container-max-width;
  padding: 43px $spacing-md $spacing-2xl;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  grid-template-areas:
    "logo logo"
    "rights rights"
    "sep-menu sep-menu"
    "menu support"
    "sep-money sep-money"
    "money telegram"
    "sep-support sep-support"
    "ltd ltd";
}

.separator {
  background-color: $color-bg-on-block;
  height: 1px;
  width: 100%;
  margin: 28px 0;
}

.logo {
  grid-area: logo;
}

.footerRight {
  grid-area: rights;
  color: $color-text-secondary;
  font-weight: $font-weight-light;
  margin-top: 9px;
}

.footerTelegram {
  grid-area: telegram;
  color: $color-text-primary;
  background-color: $color-bg-on-block;
  justify-self: end;

  & > span:nth-child(1) {
    height: auto !important;
  }
}

.footerMenu {
  grid-area: menu;
}

.footerSupport {
  grid-area: support;
}

.footerMoney {
  grid-area: money;
  display: flex;
  gap: $spacing-xxs;
  height: 39px;
}

.footerLtdText {
  grid-area: ltd;
  color: $color-bg-on-block-hover;
  font-weight: 450;
  font-size: $font-size-xs-plus;
}

.separatorMenu {
  grid-area: sep-menu;
}

.separatorMoney {
  grid-area: sep-money;
  margin-bottom: 32px;
}

.separatorSupport {
  grid-area: sep-support;
  margin-bottom: 38px;
}
@media screen and (max-width: $media-laptop-plus){
  .footer{
    margin-bottom: 10px;
  }
}

@media screen and (max-width: $media-laptop) {
  .footerGrid {
    padding: 14px 16px 16px 16px;
    grid-template-areas:
      "logo logo"
      "rights rights"
      "sep-menu sep-menu"
      "menu menu"
      "sep-money sep-money"
      "money telegram"
      "sep-support sep-support"
      "support support"
      "ltd ltd";
  }

  .footerRight{
    font-size: 14px;
    letter-spacing: -0.14px;
    margin-top: 11px;
  }

  .footerTelegram {
    justify-self: start;
    margin-top: 13px;
  }

  .separatorMenu{
    margin: 23px 0;
  }

  .footerGrid {
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:
      "logo"
      "rights"
      "telegram"
      "sep-menu"
      "menu"
      "sep-money"
      "money"
      "sep-support"
      "support";
  }

  .footerLtdText {
    display: none;
  }

  .separatorMoney {
    margin: 22px 0;
  }

  .separatorSupport{
    margin: 22px 0;
  }


}


