@use "../../shared/styles/variables.scss" as *;

.footer {
  background-color: $color-bg-banner;
}

.footerGrid {
  display: grid;
  grid-template-areas:
    "logo logo"
    "rights rights"
    "sep-menu sep-menu"
    "menu support"
    "sep-money sep-money"
    "money telegram"
    "sep-support sep-support"
    "ltd ltd";
  grid-template-columns: minmax(0, 1fr) auto;

  width: calc(100vw - 281px);
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 43px 22px 48px;
}

.separator {
  width: 100%;
  height: 1px;
  margin: 28px 0;
  background-color: $color-bg-on-block;
}

.logo {
  grid-area: logo;
  width: fit-content;
}

.footerRight {
  grid-area: rights;
  margin-top: 9px;
  font-weight: $font-weight-light;
  color: $color-text-secondary;
}

.footerTelegram {
  grid-area: telegram;
  justify-self: end;
  color: $color-text-primary;
  background-color: $color-bg-on-block;

  & > span:nth-child(1) {
    height: auto !important;
  }
}

.footerMenu {
  grid-area: menu;
}

.footerSupport {
  grid-area: support;
}

.footerMoney {
  display: flex;
  grid-area: money;
  gap: $spacing-xxs;
  height: 39px;
}

.footerLtdText {
  grid-area: ltd;
  font-size: $font-size-xs-plus;
  font-weight: 450;
  color: $color-bg-on-block-hover;
}

.separatorMenu {
  grid-area: sep-menu;
  margin: 28px 0 33px;
}

.separatorMoney {
  grid-area: sep-money;
  margin-bottom: 33px;
}

.separatorSupport {
  grid-area: sep-support;
  margin-bottom: 38px;
}

@media screen and (max-width: $media-laptop-plus) {
  .footer {
    margin-bottom: 10px;
  }

  .footerGrid {
    width: 100vw;
  }
}

@media screen and (max-width: $media-laptop) {
  .footerGrid {
    grid-template-areas:
      "logo logo"
      "rights rights"
      "telegram telegram"
      "sep-menu sep-menu"
      "menu menu"
      "sep-money sep-money"
      "money money"
      "sep-support sep-support"
      "support support"
      "ltd ltd";
    padding: 14px 16px 16px;
  }


  .separatorSupport {
    margin: 21px 0 23px;
  }

  .footerLtdText {
    display: none;
  }

  .separatorMoney {
    margin: 20px 0 24px;
  }

  .footerRight {
    margin-top: 11px;
    font-size: 14px;
    letter-spacing: -0.14px;
  }

  .footerTelegram {
    justify-self: start;
    margin-top: 13px;
  }

  .separatorMenu {
    margin: 23px 0;
  }

}


@media screen and (max-width: $media-tab-mini) {
  .footerGrid {
    grid-template-areas:
      "logo"
      "rights"
      "telegram"
      "sep-menu"
      "menu"
      "sep-money"
      "money"
      "sep-support"
      "support";
    grid-template-columns: minmax(0, 1fr);
  }

  .footerLtdText {
    display: none;
  }

  .separatorMoney {
    margin: 22px 0;
  }

  .separatorSupport {
    margin: 22px 0;
  }


}


