@use "../../shared/styles/variables.scss" as *;

.footer {
  grid-area: footer;
  background-color: $color-bg-banner;
  padding: $spacing-2xl 240px;
}

@media (max-width: $media-tab) {
  .footer {
    padding: $spacing-md;
  }
}
