@use "../../styles/variables.scss" as *;

.wrapper {
  width: 100%;
}

.title {
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #fff;
  letter-spacing: -0.26px;
}

.grid {
  display: flex;
  gap: $spacing-md;
  align-items: center;
  margin-top: $spacing-lg-plus;
}

.carousel {
  position: relative;
  width: 100%;
}

.shadow {
  position: absolute;
  z-index: 10;
  bottom: 0;

  width: 37px;
  height: calc(100% - 39px - 24px);
}

.shadowLeft {
  left: -3px;
  background: linear-gradient(90deg, #090D14 0%, rgba(9, 13, 20, 0%) 100%);
}

.shadowRight {
  right: -3px;
  background: linear-gradient(90deg, rgba(9, 13, 20, 0%) 0%, #090D14 100%);
}

.carouselHeaderButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: $spacing-lg-plus;
}

.carouselHeaderControls {
  display: flex;
  gap: 4px;
}

.carouselButton {
  color: $color-text-primary;
  background-color: $color-bg-on-block;

  &:hover {
    background-color: $color-bg-on-block-hover;
  }

  &:disabled {
    color: $color-text-secondary;
    background-color: $color-bg-block;
  }
}

.swiper {
  width: 100%;
}

.swiperSlide {
  flex-shrink: 0;
  width: 284px;
}

@media screen and (max-width: $media-tab) {
  .title {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
  }

  .carouselHeaderButtons {
    margin-bottom: 16px;
  }

  .shadow {
    height: calc(100% - 39px - 16px);
  }

  .swiperSlide {
    width: auto;
  }
}

