@use "../../../shared/styles/variables" as *;

.root {
  width: 100%;
  display: grid;
  padding: 0 $spacing-md;
  grid-template-columns:1fr 1fr;
  //grid-template-rows:1fr 1fr;
  gap: $spacing-xxs;
  transition: grid-template-columns $transition-hover, grid-template-rows $transition-hover, gap $transition-hover;

  .sportButton,
  .casinoButton {
    color: $color-text-primary;
    background-position: center center;
    background-size: 57px 57px;
    background-repeat: no-repeat;
    transition: all $transition-hover;
    letter-spacing: -0.16px;
    font-weight: 600;
    line-height: normal;

    & > span {
      opacity: 1;
      visibility: visible;
      max-width: 100%;
      transition: opacity $transition-hover, visibility $transition-hover, max-width $transition-hover;
    }
  }

  .casinoButton {
    background-image: url("../../../shared/assets/icons/slot.svg");
  }

  .sportButton {
    background: $color-bg-on-block url("../../../shared/assets/icons/sport.svg") no-repeat center center;
  }

  .searchButton {
    width: 100%;
    grid-column: 1/3;

    border-radius: $radius-lg;
    border: 2px solid $color-bg-on-block;
    background: $color-bg-block;
    justify-content: flex-start;

    .searchIcon {
      flex: 0 0 19px;
      min-width: 19px;
      width: 19px;
      height: 19px;
    }

    .searchLabel {
      width: 100%;
      transition: width 0.1s ease;
    }

    & > span {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: $spacing-9;
    }
  }

  &.isOpen {
    display: flex;
    flex-direction: column;

    & .casinoButton,
    & .sportButton {
      height: 51px;
      padding: 0;
      transition: height 0.3s ease, padding 0.3s ease , background 0.3s ease;
    }

    & .casinoButton > span,
    & .sportButton > span {
      opacity: 0;
      visibility: hidden;
      max-width: 0;
      overflow: hidden;
      transition: opacity $transition-hover, visibility $transition-hover, max-width $transition-hover;
    }

    .searchButton {
      padding: 14px;

      & > span {
        gap: 0;
      }


      .searchLabel {
        width: 0;
        overflow: hidden;
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .sportButton:hover {
    background-color: $color-bg-on-block-hover;
  }
}
