@use "../../../shared/styles/variables" as *;

.root {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr 1fr;
  gap: $spacing-xxs;
}


.casinoButton {
  background-image: url("../../../shared/assets/icons/slot.svg");
  background-position: center center;
  background-size: 57px 57px;
  background-repeat: no-repeat;
}

.casinoButton {
}

.sportButton {
  background-size: 57px 57px;
  background: $color-bg-on-block url("../../../shared/assets/icons/sport.svg") no-repeat center center;
  color: $color-text-primary;
}

.searchInput {
  grid-column: 1/3;
}

@media (hover: hover) and (pointer: fine) {
  .sportButton:hover {
    background-color: $color-bg-on-block-hover;
  }
}