@use "../../../shared/styles/variables.scss" as *;

.balance {
  display: flex;
  flex-direction: column;
  padding: $spacing-xl;
  background: $color-bg-block;
  border-radius: 20px;
  height: 100%;
  background-image: url("../../../assets/icons/logo-bg.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.mainBalance {
  grid-area: main-balance;
}

.bonusBalance {
  grid-area: bonus-balance;
}

.amount {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  margin-bottom: 10px;
}

.text {
  color: $color-text-secondary;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 48px;
}

.balanceButton {
  width: fit-content;
}
