@use "../../../shared/styles/variables.scss" as *;

.balance {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: $spacing-xl;

  background: $color-bg-block;
  background-image: url("../../../shared/assets/icons/logo-bg.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  border-radius: 20px;
}

.amount {
  margin-bottom: 10px;

  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

.text {
  margin-bottom: 48px;

  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: $color-text-secondary;
}

.balanceButton {
  width: fit-content;
}

@media screen and (max-width: $media-laptop)  {
  .text {
    margin-bottom: 42px;
  }
}
