@use "../../../../shared/styles/variables.scss" as *;

.footer-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-xxs;
  margin-right: $spacing-xxs;
}

.footer-column-title {
  margin-bottom: 15px;
  letter-spacing: -0.16px;
}

.footer-links {
  li:not(:last-child) {
    margin-bottom: 10px;
  }
  li {
    a {
      color: $color-text-secondary;
      font-weight: $font-weight-light;
      transition: color $transition-hover;

      &:hover {
        color: $color-text-primary;
      }
    }
  }
}

@media (max-width: $media-laptop) {
  .footer-menu {
    margin-right: 0;
    gap: $spacing-lg-plus;
  }
}

@media (max-width: $media-tab) {
  .footer-menu {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    row-gap: $spacing-lg-plus;
    margin-right: 0;
  }
}
