@use "../../../../shared/styles/variables.scss" as *;

.footer-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-xxs;
  margin-right: $spacing-xxs;
}

.footer-column-title {
  margin-bottom: 15px;
  font-weight: 600;
  letter-spacing: -0.16px;
}

.footer-links {
  li:not(:last-child) {
    margin-bottom: 10px;
  }

  li {
    a {
      font-weight: $font-weight-light;
      color: $color-text-secondary;
      letter-spacing: -0.16px;
      transition: color $transition-hover;

      &:hover {
        color: $color-text-primary;
      }
    }
  }
}

@media (max-width: $media-laptop) {
  .footer-menu {
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    margin-right: 0;
  }

  .footer-column-title {
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.14px;
  }

  .footer-links {
    li:not(:last-child) {
      margin-bottom: 7px;
    }

    li {
      a {
        font-size: 14px;
        font-weight: $font-weight-light;
        letter-spacing: -0.14px;
      }
    }
  }
}
