@use "../../shared/styles/variables.scss" as *;

.title {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.26px;
  margin-bottom: 24px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.card {
  border-radius: 20px;
  background: #131824;
  padding: 32px;
  max-height: 214px;
}

.image {
  margin-bottom: 15px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #212738;
  width: 48px;
  height: 48px;

}

.cardTitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.2px;
  margin-bottom: 8px;
}

.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
  color: $color-text-secondary;
  max-width: 203px;
  white-space: pre-line;
}