@use "../../shared/styles/variables.scss" as *;

.programTerms{
  
}

.title {
  margin-bottom: 24px;

  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.card {
  flex: 1 1 0;

  min-width: 284px;
  max-width: 284px;
  height: 214px;
  padding: 32px;

  background: #131824;
  border-radius: 20px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;
  margin-bottom: 15px;

  background: #212738;
  border-radius: 12px;

}

.cardTitle {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  letter-spacing: -0.2px;
}

.description {
  max-width: 203px;

  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 155%;
  color: $color-text-secondary;
  white-space: pre-line;
}

@media screen and (max-width: $media-tab) {
  .card {
    min-width: 290px;
    max-width: 290px;
    height: 198px;
    padding: $spacing-lg-plus;

    .separator {
      margin: 13px 0;
    }
  }
}
