@use "../../shared/styles/variables.scss" as *;

.rewardsCards {
  display: grid;
  grid-template-columns: 49.3% 24% 24%;
  gap: $spacing-md;
  justify-content: center;

  aspect-ratio: 1184 / 277;
  width: 100%;
  height: auto;
}

.bonusCard{
  background-image: url("../../shared/assets/images/bonuseCardIcon.png");
}

.inviteCard{
  background-image: url("../../shared/assets/images/inviteCardIcon.png");
}

@media screen and (max-width: $media-laptop-plus) {
  .rewardsCards {
    grid-template-columns: 49.48% 24.22% 24.22%;
    gap: 8px;
    aspect-ratio: 768 / 258;
    max-height: 258px;
  }
}



@media screen and (max-width: $media-tab-mini) {
  .rewardsCards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 258px 175px ;
    gap: 10px;

    aspect-ratio: auto;
    max-height: min-content;
  }
}