@use "../../../shared/styles/variables.scss" as *;

.bonuses {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.promoGrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;

  aspect-ratio: 1184 / 500;
}
