@use "../../../shared/styles/variables" as *;

.amountCard  {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  min-height: 242px;
  padding: 32px;

  background: #131824;
  border-radius: 24px;
}

.amount{
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

.description{
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color:$color-text-secondary;
}