@use "../../../shared/styles/variables" as *;

.amountCard  {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 32px 32px 32px;
  border-radius: 24px;
  background: #131824;
  min-height: 242px;
  overflow: hidden;
  gap: 10px;
}
.amount{
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
}

.description{
  color:$color-text-secondary;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}