@use "../../../shared/styles/variables" as *;

.amountCard {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  min-height: 242px;
  padding: 32px;

  background-color: #131824;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  border-radius: 24px;
}

.amount {
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

.description {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: $color-text-secondary;
  text-align: center;
}

@media screen and (max-width: $media-laptop) {
  .amount {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.2px;
  }

  .description {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
  }
}

@media screen and (max-width: $media-tab-mini) {
  .amountCard {
    min-height: 175px;
  }
}