@use "../../../shared/styles/variables" as *;

.footerMenu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-xxs;
  margin-right: $spacing-xxs;
}

.footerColumnTitle {
  margin-bottom: 15px;
  font-weight: 600;
  letter-spacing: -0.16px;
}

.footerLinks {
  li:not(:last-child) {
    margin-bottom: 10px;
  }

  li {
    a {
      font-weight: $font-weight-light;
      color: $color-text-secondary;
      letter-spacing: -0.16px;
      transition: color $transition-hover;

      &:hover {
        color: $color-text-primary;
      }
    }
  }
}

@media (max-width: $media-laptop) {
  .footerMenu {
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 18px;
    margin-right: 0;
  }

  .footerColumnTitle {
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.14px;
  }

  .footerLinks {
    li:not(:last-child) {
      margin-bottom: 8px;
    }

    li {
      a {
        font-size: 14px;
        font-weight: $font-weight-light;
        letter-spacing: -0.14px;
      }
    }
  }
}
