@use "../../styles/variables" as *;

.overlay {
  position: fixed;
  z-index: 1000;
  inset: 0;

  background: rgba(9, 13, 20, 80%);
  backdrop-filter: blur(16px);

  animation: overlay-show 0.2s ease-out;

  &[data-state="closed"] {
    animation: overlay-hide 0.2s ease-out;
  }
}

.content {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 24px;

  height: auto;
  max-height: 95dvh;
  padding: 32px 0;

  color: $color-text-primary;

  background-color: #0F141F;
  border-radius: $radius-xl;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 40%);

  animation: content-show 0.3s ease-out;

  &[data-state="closed"] {
    animation: content-hide 0.3s ease-out;
  }

  &:focus {
    outline: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.title {
  margin: 0;

  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
}

.description {
  margin: $spacing-xs 0 0;

  font-family: $font-family-base;
  font-size: $font-size-md;
  font-weight: $font-weight-light;
  line-height: $leading-normal;
  color: $color-text-secondary;
  letter-spacing: $tracking-tight;
}

.body {
  flex: 1;
}

button.closeButton {
  width: 39px;
  max-width: 39px;
  height: 39px;
  padding: 0 !important;

  color: $color-text-primary;

  background-color: $color-bg-on-block;

  &:hover {
    background-color: $color-bg-on-block-hover;
  }

  &:disabled {
    color: $color-text-secondary;
    background-color: $color-bg-block;
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overlay-hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes content-show {
  from {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes content-hide {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }
}

@keyframes content-show-mobile {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content-hide-mobile {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@media (max-width: $media-laptop) {
  .content {
    inset: auto 0 0;
    transform: translateY(0);

    height: auto;
    max-height: calc(100dvh - 64px);
    padding: 20px 0 16px;

    border-radius: $radius-xl $radius-xl 0 0;

    animation: content-show-mobile 0.3s ease-out;

    &[data-state="closed"] {
      animation: content-hide-mobile 0.3s ease-out;
    }
  }
}

