@use "../../styles/variables" as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(9, 13, 20, 0.80);
  backdrop-filter: blur(16px);
  z-index: 1000;
  animation: overlayShow 0.2s ease-out;

  &[data-state="closed"] {
    animation: overlayHide 0.2s ease-out;
  }
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0F141F;
  border-radius: $radius-xl;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.4);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  animation: contentShow 0.3s ease-out;
  overflow: hidden;
  padding: 32px 0;
  color: $color-text-primary;
  gap: 24px;
  height: auto;
  max-height: 95dvh;

  &[data-state="closed"] {
    animation: contentHide 0.3s ease-out;
  }

  &:focus {
    outline: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.title {
  margin: 0;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.26px;
}

.description {
  margin: $spacing-xs 0 0;
  font-family: $font-family-base;
  font-size: $font-size-md;
  font-weight: $font-weight-light;
  color: $color-text-secondary;
  line-height: $leading-normal;
  letter-spacing: $tracking-tight;
}

.body {
  flex: 1;
}

button.closeButton {
  color: $color-text-primary;
  background-color: $color-bg-on-block;
  width: 39px;
  height: 39px;
  max-width: 39px;
  padding: 0 !important;

  &:hover {
    background-color: $color-bg-on-block-hover;
  }

  &:disabled {
    background-color: $color-bg-block;
    color: $color-text-secondary;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlayHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
}

@keyframes contentShowMobile {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes contentHideMobile {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@media (max-width: $media-laptop) {
  .content {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    max-height: calc(100dvh - 64px);
    transform: translateY(0);
    animation: contentShowMobile 0.3s ease-out;
    border-radius: $radius-xl $radius-xl 0 0;
    padding: 20px 0 16px;

    &[data-state="closed"] {
      animation: contentHideMobile 0.3s ease-out;
    }
  }
}

