@use "../../styles/variables" as *;

:root {
  --true-vh: 100dvh;
}

.overlay {
  position: fixed;
  z-index: 1000;
  inset: 0;

  background: rgba(9, 13, 20, 80%);
  backdrop-filter: blur(16px);

  animation: overlay-show 0.2s ease-out;

  &[data-state="closed"] {
    animation: overlay-hide 0.2s ease-out;
  }
}

.content {
  position: fixed;
  z-index: 1060;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 24px;

  min-height: 0;
  max-height: calc(var(--true-vh) * 0.95);
  padding: 32px 0;

  color: $color-text-primary;

  background-color: #0F141F;
  border-radius: $radius-xl;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 40%);

  animation: content-show 0.3s ease-out;

  &[data-state="closed"] {
    animation: content-hide 0.3s ease-out;
  }

  &:focus {
    outline: none;
  }
}

// Стили для Vaul Drawer
.drawerContent {
  touch-action: pan-y;

  position: fixed;
  z-index: 1060;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  height: auto;
  max-height: calc(var(--true-vh) * 0.95);
  padding: 32px 0;

  color: $color-text-primary;

  background-color: #0F141F;
  border-radius: $radius-xl $radius-xl 0 0;
  outline: none;

  &.mobile {
    height: auto;
    max-height: calc(var(--true-vh) - var(--tg-header-height, 0px) - var(--tg-content-safe-area-inset-top, 0px) + 10px) !important;
  }

  &.mobile.android {
    height: auto;
    max-height: calc(var(--true-vh) - var(--tg-header-height, 0px) - var(--tg-content-safe-area-inset-top, 0px) - var(--tg-safe-area-inset-top, env(safe-area-inset-top, 0px)) + 8px) !important;
  }

  &.mobile.ios {
    transform: translateZ(0); // Аппаратное ускорение
    height: auto;
    max-height: calc(var(--true-vh) - var(--tg-header-height, 56px) - var(--tg-safe-area-inset-top, env(safe-area-inset-top, 0px)) + 10px) !important;
  }
}

.drawerHeader {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 16px;
  padding: 0 20px 0 16px;
}

.drawerBody {
  overflow-y: auto;
  overscroll-behavior: contain;
  flex: 1 1 auto;

  min-height: 0;

  -webkit-overflow-scrolling: touch;
}

.drawerCloseButton {
  position: absolute;
  z-index: 10;
  top: 16px;
  right: 16px;

  width: 39px;
  max-width: 39px;
  height: 39px;
  padding: 0 !important;

  color: $color-text-primary;

  background-color: $color-bg-on-block;

  &:disabled {
    color: $color-text-secondary;
    background-color: $color-bg-block;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $color-bg-on-block-hover;
    }
  }
}

.header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;
}

.title {
  height: 32px;
  margin: 0;

  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
}

.description {
  margin: $spacing-xs 0 0;

  font-family: $font-family-base;
  font-size: $font-size-md;
  font-weight: $font-weight-light;
  line-height: $leading-normal;
  color: $color-text-secondary;
  letter-spacing: $tracking-tight;
}

.body {
  overflow-y: auto;
  overscroll-behavior: contain;
  flex: 1 1 auto;

  min-height: 0;

  -webkit-overflow-scrolling: touch;
}

button.closeButton {
  position: absolute;
  z-index: 10;
  top: 32px;
  right: 32px;

  width: 39px;
  max-width: 39px;
  height: 39px;
  padding: 0 !important;

  color: $color-text-primary;

  background-color: $color-bg-on-block;

  &:disabled {
    color: $color-text-secondary;
    background-color: $color-bg-block;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $color-bg-on-block-hover;
    }
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overlay-hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes content-show {
  from {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes content-hide {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }
}

@keyframes content-show-mobile {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content-hide-mobile {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@media (max-width: $media-laptop) {
  .content {
    inset: auto 0 0;
    transform: translateY(0);

    height: auto;
    max-height: calc(100dvh - 64px);
    padding: 20px 0 16px;

    border-radius: $radius-xl $radius-xl 0 0;

    animation: content-show-mobile 0.3s ease-out;

    &[data-state="closed"] {
      animation: content-hide-mobile 0.3s ease-out;
    }
  }

  .drawerContent {
    padding: 20px 0 16px;
  }

  button.closeButton {
    top: 16px;
    right: 16px;
  }
}