@use "../../../shared/styles/variables.scss" as *;

.card {
  width: 100%;
  background-color: $color-bg-block;
  border-radius: 20px;
  padding: $spacing-xl;
  position: relative;
  overflow: hidden;

  &:last-child {
    background-color: $color-bg;
  }

  .backgroundIcons {
    position: absolute;
    top: -36px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 0;

    .row {
      display: flex;
      justify-content: center;
      gap: 20px;

      &.row-1,
      &.row-3 {
        width: 112px;
      }

      &.row-2 {
        width: 176px;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        opacity: 0.3;
      }
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin: 0 auto $spacing-md auto;
    position: relative;
    z-index: 1;
  }

  .title {
    font-size: $font-size-lg;
    text-align: center;
    margin-bottom: $spacing-xxs;
    position: relative;
    z-index: 1;
  }

  .description {
    color: $color-text-secondary;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .separator {
    background-color: $color-bg-on-block;
    height: 1px;
    width: 100%;
    margin: $spacing-lg-plus 0;
    position: relative;
    z-index: 1;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    position: relative;
    z-index: 1;

    li {
      color: $color-text-secondary;
      position: relative;
      padding-left: $spacing-md;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 9.5px;
        width: 6px;
        height: 6px;
        border-radius: $radius-full;
        background-color: $color-bg-on-block;
      }
    }

    .active {
      color: $color-text-primary;

      &::before {
        background-color: $color-primary;
      }
    }
  }
}
