@use "../../../shared/styles/variables.scss" as *;

.card {
  cursor: pointer;

  position: relative;

  overflow: hidden;
  flex: 1 1 0;

  min-width: 284px;
  max-width: 284px;
  height: 320px;
  padding: $spacing-xl;

  background-color: $color-bg-block;
  border-radius: 20px;

  .backgroundIcons {
    position: absolute;
    z-index: 0;
    top: -36px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    gap: 20px;

    .row {
      display: flex;
      gap: 20px;
      justify-content: center;

      &.row-1,
      &.row-3 {
        width: 112px;
      }

      &.row-2 {
        width: 176px;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 48px;
        height: 48px;

        opacity: 0.3;
      }
    }
  }

  .icon {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    margin: 0 auto $spacing-md;
  }

  .title {
    position: relative;
    z-index: 1;

    margin-bottom: 6px;

    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.2px;
  }

  .description {
    position: relative;
    z-index: 1;
    color: $color-text-secondary;
    text-align: center;
  }

  .separator {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 1px;
    margin: 20px 0;

    background-color: $color-bg-on-block;
  }

  .list {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      position: relative;

      padding-left: $spacing-md;

      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      line-height: 155%;
      color: $color-text-secondary;
      letter-spacing: -0.16px;

      &::before {
        content: "";

        position: absolute;
        top: 9.5px;
        left: 0;

        width: 6px;
        height: 6px;

        background-color: $color-bg-on-block;
        border-radius: $radius-full;
      }
    }

    .active {
      color: $color-text-primary;

      &::before {
        background-color: $color-primary;
      }
    }
  }
}

@media screen and (max-width: $media-tab) {
  .card {
    min-width: 268px;
    max-width: 268px;
    height: 288px;
    padding: $spacing-lg-plus;

    .separator {
      margin: 12px 0;
    }

    .backgroundIcons {
      top: -45px;
    }
  }
}