@use "../../../shared/styles/variables.scss" as *;

.card {
  cursor: pointer;

  position: relative;

  overflow: hidden;

  width: 100%;
  padding: $spacing-xl;

  background-color: $color-bg-block;
  border-radius: 20px;

  transition:transform .3s ease ;

  &:hover{
  transform: translateY(-5px);
}

  &:last-child {
    background-color: $color-bg;
  }

  .backgroundIcons {
    position: absolute;
    z-index: 0;
    top: -36px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    gap: 20px;

    .row {
      display: flex;
      gap: 20px;
      justify-content: center;

      &.row-1,
      &.row-3 {
        width: 112px;
      }

      &.row-2 {
        width: 176px;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 48px;
        height: 48px;

        opacity: 0.3;
      }
    }
  }

  .icon {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    margin: 0 auto $spacing-md;
  }

  .title {
    position: relative;
    z-index: 1;

    margin-bottom: 6px;

    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 140%; /* 28px */
    text-align: center;
    letter-spacing: -0.2px;
  }

  .description {
    position: relative;
    z-index: 1;
    color: $color-text-secondary;
    text-align: center;
  }

  .separator {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 1px;
    margin: 22px 0;

    background-color: $color-bg-on-block;
  }

  .list {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: $spacing-md;

    li {
      position: relative;

      padding-left: $spacing-md;

      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      line-height: 155%;
      color: $color-text-secondary;
      letter-spacing: -0.16px;

      &::before {
        content: "";

        position: absolute;
        top: 9.5px;
        left: 0;

        width: 6px;
        height: 6px;

        background-color: $color-bg-on-block;
        border-radius: $radius-full;
      }
    }

    .active {
      color: $color-text-primary;

      &::before {
        background-color: $color-primary;
      }
    }
  }
}
