@use "../../../../shared/styles/variables" as *;


.slotsGrid {
  display: grid;
  grid-gap: 10px 16px;
  grid-template-columns: repeat(7, 1fr);
}

.emptyMessage,
.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 400px;
}

.emptyMessage{
  font-size: 16px;
  font-weight: 400;
  color: $color-text-primary;
  text-align: center;
}

@media screen and (max-width: $media-tab) {
  .slotsGrid {
    grid-template-columns: repeat(6, 1fr);

    .item {
      & div {
        aspect-ratio: 114/164;
        border-radius: 16px;

      }
    }
  }
}

@media screen and (max-width: $media-tab-mini) {
  .slotsGrid {
    grid-row-gap: 11px;
    grid-template-columns: repeat(3, 1fr);

    .item {
      & div {
        aspect-ratio: 103/149;
        border-radius: 16px;
      }
    }
  }
}