@use "../../../shared/styles/variables.scss" as *;

.hero-cashback {
  position: relative;

  overflow: hidden;
  grid-area: cashback;

  width: 100%;
  max-width: 100%;
  height: 100%;

  color: $color-text-primary;

  background-color: #090d14;

  transition: transform $transition-hover;

  &:hover {
    transform: translateY(-5px);
  }
}

.slotViewport {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cashbackSlide {
  overflow: hidden;

  box-sizing: border-box;
  height: 100%;

  background: $color-bg-block;
  border-radius: $radius-xl-plus;
}


.heroCashback {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  padding-top: 32px;
}


.cashbackCardWrapper {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: flex-end;

  width: 100%;
  max-width: 100%;
  height: 100%;
}

.cashbackCardWrapper img {
  width: 100%;
  height: auto;
}

.cashbackTitle {
  z-index: 1;

  margin: 0;

  font-family: $font-family-base;
  font-size: calc(20px + (32 - 20) * ((100vw - 800px) / (1920 - 800)));
  font-weight: $font-weight-base;
  line-height: normal;
  color: white;
  text-align: center;
  letter-spacing: calc(-0.2px + (-0.32 - (-0.2)) * ((100vw - 800px) / (1920 - 800)));
}

.cashbackPagination {
  position: absolute;
  z-index: 5;
  bottom: 9%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  width: 88px;
  margin-top: $spacing-md;
  padding: 4px;

  background: rgba(white, 0.1);
  border-radius: 160px;
}


.cashbackDot {
  cursor: pointer;

  width: 4px;
  height: 4px;
  padding: 0;

  background: $color-text-secondary;
  border: none;
  border-radius: 50%;

  transition: width $transition-hover,
  height $transition-hover,
  background-color $transition-hover,
  border-radius $transition-hover;

  &.activeDote {
    width: 56px;
    height: 4px;
    background: $color-text-primary;
    border-radius: 160px;
  }
}

@media screen and (max-width: $media-laptop-plus) {
  .heroCashback {
    padding-top: 28px;
  }

  .hero-cashback {
    border-radius: 20px;
  }
}

@media screen and (max-width: $media-tab-mini) {
  .cashbackTitle{
    font-size: calc(20px + (32 - 20) * ((100vw - 390px) / (800 - 390)));
    letter-spacing: calc(-0.2px + (-0.32 - (-0.2)) * ((100vw - 390px) / (800 - 390)));
  }

  .hero-cashback {
    border-radius: 16px;
  }
}

