@use "../../styles/variables" as *;

.switch {
  width: 50px;
  height: 28px;
  background-color: $color-bg-on-block;
  border-radius: $radius-xxl;
  border: none;
  position: relative;
  cursor: pointer;
  transition: background-color $transition-hover;

  &[data-state="checked"] {
    background-color: $color-primary;
  }
}

.thumb {
  display: block;
  width: 22px;
  height: 22px;
  background-color: $color-bg-on-block-hover;
  border-radius: $radius-full;
  transition: $transition-hover, background-color $transition-hover;
  transform: translateX(3px);
  position: relative;

  .switch[data-state="checked"] & {
    transform: translateX(calc(50px - 22px - 3px));
    background-color: $color-text-primary;
  }
}
