@use "../../../../../../shared/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  align-self: stretch;

  padding: $spacing-4xs $spacing-md;

  background: $color-bg-block;
  border-radius: $radius-lg;

  .depositDetailItem {
    padding: 0;
  }
}

