@use "../../../shared/styles/variables.scss" as *;

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $color-bg-block;
  border-radius: 20px;
  padding: $spacing-xl;
}
