@use "../../../shared/styles/variables.scss" as *;

.info {
  display: flex;
  grid-area: info;
  justify-content: space-between;

  aspect-ratio: 584/225;
  width: 100%;
  padding: $spacing-xl;

  background: $color-bg-block;
  border-radius: 20px;
}

.infoWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 327px;
}

.user {
  display: flex;
  gap: $spacing-md;

  span {
    width: 57px;
    height: 57px;
  }
}

.userData {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.userName {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  letter-spacing: -0.2px;
}

.userIdWrapper {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}

.userId {
  color: $color-text-secondary;
}

.userInfoImage {
  user-select: none;
  width: 161px;
  height: 161px;

  -webkit-user-drag: none;
}
