@use "../../../shared/styles/variables.scss" as *;

.info {
  grid-area: info;
  display: flex;
  justify-content: space-between;
  aspect-ratio: 584/225;
  width: 100%;
  background: $color-bg-block;
  border-radius: 20px;
  padding: $spacing-xl;
}

.infoWrap {
  width: 100%;
  max-width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user {
  display: flex;
  gap: $spacing-md;

  span {
    width: 57px;
    height: 57px;
  }
}

.userData {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.userName {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.2px;
}

.userIdWrapper{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.userId {
  color: $color-text-secondary;
}

.userInfoImage {
    width: 161px;
    height: 161px;
}
