@use "../../../shared/styles/variables.scss" as *;

.avatarRoot {
  user-select: none;

  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: $aspect-square;
  height: 39px;

  vertical-align: middle;

  background-color: $color-bg-on-block;
  border-radius: $radius-full;

  -webkit-user-drag: none;
}

.avatarImage {
  user-select: none;

  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: inherit;

  -webkit-user-drag: none;
}

.avatarFallback {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-weight: $font-weight-light;
  line-height: 1;
  color: $color-text-primary;

  background-color: $color-bg-on-block;
}
