@use "../../../shared/styles/variables.scss" as *;

.avatarRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  height: 39px;
  aspect-ratio: $aspect-square;
  border-radius: $radius-full;
  background-color: $color-bg-on-block;
  -webkit-user-drag: none;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  user-select: none;
  -webkit-user-drag: none;
}

.avatarFallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-bg-on-block;
  color: $color-text-primary;
  line-height: 1;
  font-weight: $font-weight-light;
}
