@use "../../../../shared/styles/variables.scss" as *;

.footer-support {
  padding: 20px 16px 16px 16px;
  border-radius: $radius-xl;
  height: fit-content;
  background: linear-gradient(rgba(22, 28, 41, 0.8), rgba(22, 28, 41, 0.8)),
    url("../../../../assets/images/footer-support-bg.png") no-repeat right
      bottom;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 288px;

  h3 {
    font-size: $font-size-lg;
    display: flex;
    margin-bottom: 23px;
    gap: $spacing-xxs;
    letter-spacing: -0.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
  }

  button {
    color: $color-text-primary;
    background-color: $color-bg-on-block;

    &:hover {
      background-color: $color-bg-on-block-hover;
    }
  }

  &-time {
    font-size: $font-size-xs-plus;
    font-weight: $font-weight-bold;
    background-color: $color-primary;
    padding: 1px 13px;
    border-radius: 160px;
    height: 28px;
  }
}

@media (max-width: $media-laptop) {
  .footer-support {
    padding: 16px 16px 16px 16px;
    width: 100%;

    & h3{
      margin-bottom: 16px;
    }
  }
}
