@use "../../shared/styles/variables.scss" as *;

.tabMenu {
  color: $color-text-secondary;
  background-color: transparent;

  .container {
    position: relative;
    z-index: 999;

    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    background-color: $color-bg-block;
    border-radius: $radius-xl $radius-xl 0 0;

    .eclipse {
      pointer-events: none;
      position: absolute;
      top: -9px;
      transition: left $transition-hover;
    }

    .container *:not(:first-child),
    .container *:not(:last-child) {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        width: 1px;
        height: 24px;

        background-color: $color-bg-on-block;
      }
    }

  }
}
