@use "../../shared/styles/variables.scss" as *;

.tabMenu {
  padding-top: 10px;
  background-color: $color-bg;
  color: $color-text-secondary;

  .container {
    background-color: $color-bg-block;
    border-radius: $radius-xl $radius-xl 0 0;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

    .eclipse {
      position: absolute;
      top: -10px;
      transition: left $transition-hover;
      pointer-events: none;
    }

    .container *:not(:first-child),
    .container *:not(:last-child) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 24px;
        background-color: $color-bg-on-block;
      }
    }

  }
}
