@use "../../shared/styles/variables.scss" as *;

.tabMenu {
  margin-top: 10px;
  background-color: $color-bg-block;
  display: flex;
  color: $color-text-secondary;
  border-radius: $radius-xl $radius-xl 0 0;
  overflow: visible;

  > *:not(:last-child) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 24px;
      background-color: $color-bg-on-block;
    }
  }
}
