@use "../../shared/styles/variables.scss" as *;

.tabMenu {
  color: $color-text-secondary;
  background-color: transparent;

  .container {
    position: relative;
    z-index: 999;

    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    background-color: $color-bg-block;
    border-top: 2px solid #282F42;
    border-right: 2px solid #282F42;
    border-left: 2px solid #282F42;
    border-radius: $radius-xl $radius-xl 0 0;

    .eclipse {
      pointer-events: none;

      position: absolute;
      z-index: 1;
      top: -9px;

      width: 46px;
      height: 23px;

      background-color: #131824;
      border-top: 2px solid #282F42;
      border-radius: 46px 46px 0 0;

      transition: left $transition-hover;
    }

    .container *:not(:first-child),
    .container *:not(:last-child) {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        width: 1px;
        height: 24px;

        background-color: $color-bg-on-block;
      }
    }

  }
}
