@use "../../shared/styles/variables.scss" as *;

.supportPanel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100%;
}

.button {
  & > span {
    width: 100%;
  }

  &Container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 19px;
  }

  &Label {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.16px;
  }

  &Chevron {
    height: 16px;

  }
}

@media screen and (max-width: $media-tab-mini) {
  .button {
    &Container {
      height: 16px;
    }

    &Label {
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.14px;
    }

    &Chevron {
      width: 14px;

    }
  }

}

