@use "../../shared/styles/variables" as *;

.modal {
  padding-top: 37px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  max-width: 516px;
  max-height: 623px;

  .searchWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 100%;
    padding: 0 32px;
  }

  .tabs {
    padding: 0;
  }
}

.games {
  padding: 0 28px 0 32px;

  .header {
    display: flex;
    gap: 9px;
    align-items: center;
    margin-bottom: 10px;

    .tabIcon {
      width: 19px;
      height: 19px;
      color: $color-text-secondary;
    }

    .tabTitle {
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.2px;
    }
  }

  .slots {
    scrollbar-gutter: stable;
    overflow-y: scroll;
    max-height: 354px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    padding-top: 5px;

    .imageWrapper {
      cursor: pointer;

      overflow: hidden;

      width: 100%;

      border-radius: 10px;

      transition: transform .3s;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

.more {
  display: none;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: 24px;
  padding-bottom: 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;


}

.text {
  margin-bottom: 12px;

  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}

@media (max-width: $media-laptop) {
  .modal {
    padding-top: 20px;
  }

  .header {
    .tabIcon {
      display: none;
    }
  }

  .body {
    display: flex;
    flex: 1;
    flex-direction: column;

    max-width: 100%;
    min-height: 0;

    .searchWrapper {
      flex-shrink: 0;
      padding: 0 16px;
    }

    .games {
      display: flex;
      flex: 1;
      flex-direction: column;

      min-height: 0;
      padding: 0 12px 0 16px;

      .header {
        flex-shrink: 0;
      }
    }

    .grid {
      overflow-y: auto;
      grid-auto-rows: auto;
      grid-template-columns: repeat(6, 1fr);
      flex: 1;
      gap: 8px;

      min-height: 0;
      padding-top: 5px;

      .imageWrapper {
        position: relative;

        overflow: hidden;
        display: block;

        width: 100%;
        height: 0;
        padding-bottom: calc(110 / 119 * 100%);

        border-radius: 10px;

        > img {
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          object-fit: cover;
          object-position: center;
        }
      }
    }

    .more {
      display: flex;
    }

    .footer {
      display: none;
    }
  }
}

@media (max-width: $media-tab-mini) {
  .body {
    .grid {
      grid-template-columns: repeat(3, 1fr);

      .imageWrapper {
        padding-bottom: calc(110 / 110 * 100%);
      }
    }

    .slots {
      max-height: 357px;
    }
  }
}
