@use "../../shared/styles/variables.scss" as *;

.userInfo {
  display: grid;
  grid-template-areas: "info main-balance bonus-balance";
  grid-template-columns: 2fr 1fr 1fr;
  gap: $spacing-md;
  justify-content: center;

  width: 100%;
  height: auto;
}

@media screen and (max-width: $media-tab-mini) {
  .userInfo {
    grid-template: "info info" 43% "main-balance bonus-balance" 54% / 1fr 1fr;
    gap: $spacing-xs;
    aspect-ratio: 358 / 411;
  }
}
