@use "../../shared/styles/variables.scss" as *;

.userInfo {
  display: grid;
  grid-template-columns:  49.324% 23.986% 23.986%;
  gap: $spacing-md;
  justify-content: center;

  width: 100%;
  height: 225px;
}

@media screen and (max-width: $media-laptop) {
  .userInfo {
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows: repeat(2, 219px);
    height: auto;
  }

  .userInfoComponent {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: $media-tab-mini) {
  .userBalance {
    display: none;
  }

  .userInfo {
    grid-template-rows: repeat(1, 173px);
    height: auto;
    margin-bottom: 4px;
  }
}

