@use "../../../shared/styles/variables" as *;

.rewardsCard  {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 242px;
  padding: 32px;

  background: #131824;
  border-radius: 24px;
}

.info{
  max-width: 320px;
}

.title {
  margin-bottom: 12px;

  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

.description {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  color: $color-text-secondary;

}

.inputWrapper {
  display: flex;

  width: 100%;
  max-width: 326px;

  background: #212738;
  border-radius: 12px;
}

.input {
  input {
    overflow: hidden;

    color:$color-text-primary;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}