@use "../../../shared/styles/variables" as *;

.rewardsCard {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 242px;
  padding: 32px;

  background: #131824;
  border-radius: 24px;
}

.info {
  max-width: 320px;
}

.title {
  margin-bottom: 12px;

  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

.description {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  color: $color-text-secondary;

}

.inputWrapper {
  display: flex;

  width: 100%;
  max-width: 326px;

  background: #212738;
  border-radius: 12px;
}

.input {
  input {
    overflow: hidden;

    color: $color-text-primary;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.image {
  position: absolute;
  top: 86px;
  left: 396px;

  width: 183px;
  height: 149px;
}

@media screen and (max-width: $media-desktop) {
  .image {
    position: absolute;
    top: 28px;
    right: -31px;
    left: auto;

    width: 166px;
    height: 135px;
  }
}

@media screen and (width <= 1300px) {
  .rewardsCard {
    padding: 24px;
  }

  .info {
    max-width: 200px;
  }

  .title {
    margin-bottom: 8px;

    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.2px;
  }

  .description {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 155%;

  }

  .inputWrapper {
    max-width: 332px;

  }
}

@media screen and (max-width: $media-tab-mini) {
  .rewardsCard {
    grid-column: 1/3;
    min-height: 258px;
  }
}