@use "../../../shared/styles/variables" as *;

.rewardsCard  {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 32px 35px 33px;
  border-radius: 24px;
  background: #131824;
  min-height: 242px;
  overflow: hidden;
}

.info{
  max-width: 320px;
}

.title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  margin-bottom: 12px;
}

.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  color: $color-text-secondary;

}
.inputWrapper {
  display: flex;
  max-width: 326px;
  width: 100%;
  border-radius: 12px;
  background: #212738;
}

.input {
  input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:$color-text-primary;
  }
}