@use "../../styles/variables" as *;

.root {
  cursor: pointer;

  position: relative;

  display: flex;
  gap: $spacing-xs;
  align-items: center;

  width: 100%;

  background-color: $color-bg-block;
  border: 2px solid $color-bg-on-block;
  border-radius: $radius-lg;

  transition: border-color $transition-hover,border $transition-hover ;

  &:hover{
    border: 2px solid #282F42;
  }

  &.input-size-s {
    max-height: 39px ;
    padding: $spacing-9 $spacing-md $spacing-9 $spacing-13;
  }

  &.input-size-m {
    max-height: 47px ;
    padding: $spacing-12 $spacing-md $spacing-13 $spacing-13;
  }
}

.icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 19px;
  height: 19px;

  svg {
    width: 19px;
    height: 19px;
    color: $color-text-secondary;
    transition: color $transition-hover;
  }
}

.input {
  flex: 1;

  width: 100%;

  font-family: $font-family-base;
  font-size: $font-size-md;
  font-weight: $font-weight-light;
  line-height: $leading-normal;
  color: $color-text-secondary;
  letter-spacing: $tracking-normal;

  background: transparent;
  border: none;
  outline: none;

  &::placeholder {
    color: $color-text-secondary;
    opacity: 1;
    transition: opacity $transition-hover;
  }

  &:focus {
    color: $color-text-primary;

    &::placeholder {
      opacity: 0;
    }
  }
}

.root:focus-within {
  border-color: $color-primary;

  .input {
    color: $color-text-primary;
  }

  .icon {
    svg {
      color: $color-text-primary;
    }
  }
}
