@use "../../../../shared/styles/variables.scss" as *;

.carousel-item {
  display: block;
  width: 155px;
  height: 208px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: $radius-xl;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-$spacing-4xs);
  }
}

@media (max-width: $media-laptop-plus) {
  .carousel-item {
    width: 121px;
    height: 165px;
  }
}

@media (max-width: $media-tab-mini) {
  .carousel-item {
    width: 114px;
    height: 149px;
  }
}
