@use "../../shared/styles/variables.scss" as *;

.carousel {
  &Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &Buttons {
      display: flex;
      gap: $spacing-md;
    }

    &Controls {
      display: flex;
      gap: $spacing-5xs;
    }
  }

  &Title {
    display: flex;
    gap: $spacing-xs;
    align-items: center;
    justify-content: center;

    color: white;

    h3 {
      font-size: 26px;
      font-weight: 600;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.26px;
    }

    svg {
      width: 30px;
      height: 30px;
      color: $color-text-secondary;
    }
  }
}

.carouselButton {
  color: $color-text-primary;
  background-color: $color-bg-on-block;

  &:hover {
    background-color: $color-bg-on-block-hover;
  }

  &:disabled {
    color: $color-text-secondary;
    background-color: $color-bg-block;
  }
}

.viewport {
  position: relative;

  overflow: hidden;

  width: 100%;
  margin: -5px 0;
  padding: 5px 0;
}

.swiperContainer {
  width: 100%;
  margin: 0;
  padding: 0;

  :global(.swiper-wrapper) {
    display: flex;
    align-items: center;
  }
}

.swiperSlide {
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
  height: auto;
}

.emptyItem {
  display: block;

  aspect-ratio: 155 / 208;
  width: 100%;
  height: auto;
  padding-top: 5px;

  background-color: #212738;
  border-radius: $radius-xl;
}

@media (max-width: $media-tab) {
  .emptyItem {
    aspect-ratio: 121 / 165;
    border-radius: 10px;
  }
}

@media (max-width: $media-mobile-plus) {
  .emptyItem {
    aspect-ratio: 114 / 149;
  }
}

@media (max-width: $media-tab) {
  .carousel {
    &Header {
      margin-bottom: 10px;
    }
  }

  .carouselTitle {
    h3 {
      font-size: $font-size-lg;
    }

    svg {
      width: 23px;
      height: 23px;
    }
  }

  .swiperContainer {
    :global(.swiper-slide) {
      margin-right: $spacing-xxs;
    }
  }
}

@media (max-width: $media-mobile-plus) {
  .carouselHeaderButtons {
    gap: 18px;
  }
}

@media (width <= 350px) {
  .carouselTitle {
    svg {
      display: none;
    }
  }
}
