@use "../../shared/styles/variables.scss" as *;

.carousel {
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    &-buttons {
      display: flex;
      gap: $spacing-md;
    }

    &-controls {
      display: flex;
      gap: $spacing-5xs;
    }
  }

  &-title {
    display: flex;
    gap: $spacing-xs;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.26px;
    }

    svg {
      width: 30px;
      height: 30px;
      color: $color-text-secondary;
    }
  }
}

.carousel-button {
  color: $color-text-primary;
  background-color: $color-bg-on-block;

  &:hover {
    background-color: $color-bg-on-block-hover;
  }

  &:disabled {
    background-color: $color-bg-block;
    color: $color-text-secondary;
  }
}

.viewport {
  overflow: hidden;
  padding: 4px 0;
  margin: -4px 0;
}

.carousel-flexbox {
  display: flex;
  gap: $spacing-md;
  align-items: center;
}

@media (max-width: $media-laptop) {
  .carousel {
    &-header {
      margin-bottom: 18px;
    }
  }
  .carousel-title {
    h3 {
      font-size: $font-size-lg;
    }

    svg {
      width: 23px;
      height: 23px;
    }
  }
}

@media (max-width: $media-laptop-plus) {
  .carousel-flexbox {
    gap: $spacing-xxs;
  }
}

@media (max-width: $media-mobile-mini) {
  .carousel-title {
    svg {
      display: none;
    }
  }

  .carousel-header-buttons {
    gap: $spacing-xxs;
  }
}
