@use "../../../shared/styles/variables" as *;

.carousel-item {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 5px;

}

.carousel-item__image {
  cursor: pointer;

  overflow: hidden;
  display: block;

  aspect-ratio: 155 / 208;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
  border-radius: $radius-xl;

  transition: transform $transition-hover;

  &:hover {
    transform: translateY(-5px);
  }
}

@media (max-width: $media-tab) {
  .carousel-item__image {
    aspect-ratio: 121 / 165;
    border-radius: 10px;
  }
}

@media (max-width: $media-mobile-plus) {
  .carousel-item__image {
    aspect-ratio: 114 / 149;
  }
}

.skeleton {
  pointer-events: none;
  background: linear-gradient(90deg, #1a1f2e 25%, #252b3d 50%, #1a1f2e 75%);
  background-size: 200% 100%;
  animation: loading 1.5s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}