@use "../../../shared/styles/variables" as *;

.footer-support {
  width: 288px;
  height: fit-content;
  padding: 20px 16px 16px;

  background: linear-gradient(rgba(22, 28, 41, 80%), rgba(22, 28, 41, 80%)),
    url("../../../assets/images/footer-support-bg.png") no-repeat right
      bottom;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
  border-radius: $radius-xl;

  h3 {
    display: flex;
    gap: $spacing-xxs;

    margin-bottom: 23px;

    font-size: $font-size-lg;
    font-weight: 600;
    font-style: normal;
    line-height: 140%; /* 28px */
    letter-spacing: -0.2px;
  }

  button {
    color: $color-text-primary;
    background-color: $color-bg-on-block;

    &:hover {
      background-color: $color-bg-on-block-hover;
    }
  }

  &-time {
    height: 28px;
    padding: 1px 13px;

    font-size: $font-size-xs-plus;
    font-weight: $font-weight-bold;

    background-color: $color-primary;
    border-radius: 160px;
  }
}

@media (max-width: $media-laptop) {
  .footer-support {
    width: 100%;
    padding: 16px;

    & h3{
      margin-bottom: 16px;
    }
  }
}
