@use "../../../../../shared/styles/variables" as *;

.slotInfo {
  cursor: pointer;

  display: flex;
  gap: 16px;
  align-items: center;

  width: 100%;
  padding: 16px;

  background: rgba(114, 126, 155, 8%);
  border: 1px solid rgba(114, 126, 155, 12%);
  border-radius: 16px;

  transition: background $transition-hover;

  .slotImageWrapper {
    overflow: hidden;
    flex-shrink: 0;

    width: 80px;
    height: 80px;

    border-radius: 12px;

    .slotImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slotDetails {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;

    min-width: 0;

    .slotName {
      overflow: hidden;

      font-size: 16px;
      font-weight: 600;
      line-height: 1.4;
      color: $color-text-primary;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .slotProvider {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.4;
      color: #727E9B;
    }
  }

  @media (hover: hover) {
    &:hover {
      background: $color-bg-on-block;
    }
  }
}

@media screen and (width <= 1024px) {
  .slotInfo {
    gap: 12px;
    padding: 12px;

    .slotImageWrapper {
      width: 64px;
      height: 64px;
    }

    .slotDetails {
      .slotName {
        font-size: 15px;
      }

      .slotProvider {
        font-size: 13px;
      }
    }
  }
}

