@use "../../../../shared/styles/variables.scss" as *;

.userAmountBlock {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.amountWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.16px;
}


.amountButton {
  justify-content: center;
  gap: $spacing-xs;
  padding: 0 !important;

  span {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 8px;
  }

  svg {
    margin: auto;
  }
}

.progress {
  position: relative;
  overflow: hidden;
  background: $color-bg-banner;
  border-radius: 160px;
  width: 100%;
  height: 10px;
  transform: translateZ(0);
}

.progressIndicator {
  background-color: $color-primary;
  width: 100%;
  height: 100%;
  border-radius: 160px;
  transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}

.moneyWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.moneyItemWrap {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.16px;
  display: flex;
  gap: $spacing-xs;
  align-items: center;
}
