@use "../../../shared/styles/variables" as *;

.menuSection {
  position: relative;
  width: 100%;
  color: $color-text-primary;

  .title {
    overflow: hidden;

    max-height: 100px;
    margin-bottom: $spacing-12;

    font-family: $font-family-base;
    font-size: $font-size-md;
    font-weight: $font-weight-base;
    line-height: $leading-normal;
    letter-spacing: $tracking-tight;

    visibility: visible;
    opacity: 1;

    transition: opacity $transition-hover, visibility $transition-hover, max-height $transition-hover, margin-bottom $transition-hover;

    &.hidden {
      max-height: 0;
      margin-bottom: 0;
      visibility: hidden;
      opacity: 0;
    }
  }
}
