@use "../../shared/styles/variables.scss" as *;

.root {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background: $color-bg-block;
  border-radius: 16px;
  padding-right: 6px;
}

.buttonWrapper {
  padding: 6px;
  background: $color-bg-block;
  display: none;
  width: 63px;
  border-radius: 16px;

  & > button {
    padding-left: 14px !important;
    padding-right: 14px !important;
    border: 2px solid var(--bg-on-block, #212738);
    transition: border 0.3s ease, color 0.3s ease;
    color: #282F42;
    & > span{
      min-width: 19px;
      height: 19px;
    }

    &:hover{
      border: 2px solid  $color-text-secondary;
      background-color:  $color-bg-block;
      color: $color-text-secondary;
    }
  }
}

.inputWrapper {
  flex: 1;
  min-width: 0;
}

.tabs {
  flex-shrink: 0;
}

@media screen and (max-width: 986px) {
  .root {
    background: transparent;
    justify-content: space-between;
    border-radius: 16px;
    padding-right: 6px;
    gap: 8px;
  }
  .tabs{
    flex: 1;
    min-width: 0;
    max-width: 100%;
  }
  .inputWrapper {
    display: none;
  }
  .buttonWrapper {
    display: block;
  }
}
