@use "../../shared/styles/variables.scss" as *;

.root {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  padding-right: 6px;

  background: $color-bg-block;
  border-radius: 16px;
}

.buttonWrapper {
  display: none;

  width: 63px;
  padding: 6px;

  background: $color-bg-block;
  border-radius: 16px;

  & > button {
    padding-right: 14px !important;
    padding-left: 14px !important;

    color: #282F42;

    border: 2px solid var(--bg-on-block, #212738);

    transition: border 0.3s ease, color 0.3s ease;

    & > span{
      min-width: 19px;
      height: 19px;
    }

    &:hover{
      color: $color-text-secondary;
      background-color:  $color-bg-block;
      border: 2px solid  $color-text-secondary;
    }
  }
}

.inputWrapper {
  flex: 1;
  min-width: 0;
}

.tabs {
  flex-shrink: 0;
}

@media screen and (width <= 986px) {
  .root {
    gap: 8px;
    justify-content: space-between;

    padding-right: 0;

    background: transparent;
    border-radius: 16px;
  }

  .tabs{
    flex: 0 1 auto;
    min-width: 0;
    max-width: 100%;
  }

  .inputWrapper {
    display: none;
  }

  .buttonWrapper {
    display: block;
  }
}
