@use "../../shared/styles/variables.scss" as *;

.root {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background: $color-bg-block;
  border-radius: 16px;
  padding-right: 6px;
}

.inputWrapper {
  flex-grow: 1;
  max-width: 454px;
  width: 100%;
  transition: max-width $transition-hover;
}

.inputWrapperExpanded {
  max-width: 454px;
}

.tabs {
  padding-right: 0;
}

@media screen and (max-width: 1060px) {
  .root {
    background: transparent;
    gap: 8px;
    width: 100%;
    overflow: hidden;
  }
  .tabs {
    order: 2;
    padding-right: 6px;
    flex: 1 1 auto;
    min-width: 0;
  }

  .inputWrapper {
    max-width: 63px;
    width: 100%;
    height: 100%;
    padding: 6px;
    transition: max-width $transition-hover;

    &:focus-within,
    &.inputWrapperExpanded {
      max-width: 250px;
    }
  }
}