@use "../../shared/styles/variables.scss" as *;

.header {
  grid-area: header;
  background-color: $color-bg-block;
  padding: $spacing-md 240px;
  display: flex;
  justify-content: space-between;

  &-balance {
    display: flex;
    background-color: $color-bg-on-block;
    border-radius: $radius-md;
  }
}

.current-balance {
  width: 100%;
  height: 100%;
  padding: $spacing-sm $spacing-md;
}
