@use "../../shared/styles/variables.scss" as *;

.header {
  width: 100%;
  color: $color-text-primary;
  background: $color-bg-block;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
    padding: $spacing-md;
  }

  .wrapper {
    display: flex;
    gap: $spacing-12;
    align-items: center;
  }

  .chevronHeader {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: $media-laptop-plus) {
  .header {
    .container {
      padding: $spacing-12 $spacing-md $spacing-xs $spacing-md;}
  }
}

@media screen and (max-width: $media-mobile-mini) {
  .header {
    .wrapper {
      gap: $spacing-5xs;
    }
  }
}
