@use "../../shared/styles/variables.scss" as *;

.header {
  grid-area: header;
  background-color: $color-bg-block;
  padding: $spacing-md 240px;
  display: flex;
  justify-content: space-between;

  &-wrapper {
    display: flex;
    gap: $spacing-md;
  }

  &-balance {
    display: flex;
    background-color: $color-bg-on-block;
    border-radius: $radius-md;
  }
}

.current-balance {
  width: 100%;
  height: 100%;
  padding: $spacing-sm $spacing-md;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: $spacing-9;
}

@media (max-width: $media-tab) {
  .header {
    padding: $spacing-13 $spacing-md;

    &-wrapper {
      gap: $spacing-sm;
    }

    &-balance {
      height: 39px;
    }
  }

  .current-balance {
    padding: $spacing-xs $spacing-md;
  }
}
