@use "../../shared/styles/variables.scss" as *;

.header {
  width: 100%;
  background: $color-bg-block;
  color: $color-text-primary;

  .container {
    max-width: $container-max-width;
    padding: $spacing-md;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper {
    display: flex;
    align-items: center;
    gap: $spacing-12;
  }

  .chevronHeader {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: $media-tab) {
  .header {
    .container {
      padding: $spacing-12 $spacing-md $spacing-xs $spacing-md;}
  }
}

@media screen and (max-width: $media-mobile-mini) {
  .header {
    .wrapper {
      gap: $spacing-5xs;
    }
  }
}
