@use "../../shared/styles/variables.scss" as *;

.betsSection {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.tableFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}

.title {
  font-size: $font-size-xl;
  font-weight: $font-weight-base;
  font-style: normal;
  line-height: normal;
  color: #fff;
  letter-spacing: -0.26px;
}

.wrapper {
  display: flex;
  gap: $spacing-xxs;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  max-width: 581px;
}

.dropdownWrapper {
  width: 89px;
  height: 55px;
  padding: 8px;

  background: var(--bg-block, #131824);
  border-radius: var(--radius-16, 16px);
}

.dropdown{
  height: 39px;
}

@media screen and (max-width: $media-tab) {
  .title {
    font-size: $font-size-lg;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
  }

  .tabs {
    max-width: 372px;
  }

  .tableFilter {
    margin-bottom: 0;
  }
}

@media screen and (max-width: $media-tab-mini) {
  .title {
    display: none;
  }

  .wrapper {
    gap: $spacing-md;
    justify-content: space-between;
    max-width: 100%;
  }
}

@media screen and (width <= 340px) {
  .tabs button {
    font-size: 12px;
  }
}


