@use "../../../shared/styles/variables.scss" as *;

.cashbackCard {
  position: relative;

  overflow: hidden;
  display: flex;
  justify-content: space-between;

  min-height: 242px;
  padding: 32px 32px 33px;

  background: #131824;
  border-radius: 24px;
}

.info {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 249px;
  height: 100%;
}

.title {
  margin-bottom: 12px;

  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

.description {
  max-width: 260px;

  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  color: $color-text-secondary;
}

.imageWrapper {
  position: absolute;
  z-index: 0;
  top: 35px;
  right: -16px;

  width: 342px;
  height: 178px;
}

@media screen and (width <= 1366px) {
  .cashbackCard {
    grid-column: 1/3;
  }
}

@media screen and (max-width: $media-tab) {
  .cashbackCard {
    position: relative;
    min-height: 197px;
    padding: 24px;
    border-radius: 20px;
  }

  .info {
    max-width: 100%;

  }

  .title {
    margin-bottom: 8px;

    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.2px;
  }

  .description {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 155%;
  }

  .imageWrapper {
    top: 8px;
    right: 0;
  }
}

@media screen and (max-width: $media-tab-mini-plus) {
  .cashbackCard {
    grid-column: 1/2;
  }

  .imageWrapper {
    top: 28px;
    right: -117px;
    width: 272px;
    height: 141px;
  }

  .description {
    max-width: 75%;
  }
}
