@use "../../../shared/styles/variables.scss" as *;

.cashbackCard {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 32px 32px 33px 33px;
  border-radius: 24px;
  background: #131824;
  min-height: 242px;
  overflow: hidden;
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 249px;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  margin-bottom: 12px;
}

.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  color: $color-text-secondary;
  max-width: 260px;
}

.imageWrapper {
  position: absolute;
  display: flex;
  align-items: flex-end;
  top: 50%;
  right: -55px;
  transform: translateY(-50%);
  z-index: 0;


  .image {
    width: 100%;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
  }
}