@use "../../../shared/styles/variables.scss" as *;

.cashbackCard {
  position: relative;

  overflow: hidden;
  display: flex;
  justify-content: space-between;

  min-height: 242px;
  padding: 32px 32px 33px 33px;

  background: #131824;
  border-radius: 24px;
}

.info {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 249px;
  height: 100%;
}

.title {
  margin-bottom: 12px;

  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

.description {
  max-width: 260px;

  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  color: $color-text-secondary;
}

.imageWrapper {
  position: absolute;
  z-index: 0;
  top: 50%;
  right: -55px;
  transform: translateY(-50%);

  display: flex;
  align-items: flex-end;


  .image {
    user-select: none;
    width: 100%;
    height: auto;

    -webkit-user-drag: none;
  }
}