@use "../../shared/styles/variables.scss" as *;

.main-carousel-section {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  margin-top: $spacing-xl;
  margin-bottom:47px;
}

.tableFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.title {
  color: #fff;
  font-size: $font-size-xl;
  font-style: normal;
  font-weight: $font-weight-base;
  line-height: normal;
  letter-spacing: -0.26px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $spacing-xxs;
  max-width: 574px;
  width: 100%;
}

.dropdownWrapper {
  width: 89px;
  padding: 8px;
  border-radius: var(--radius-16, 16px);
  background: var(--bg-block, #131824);
}

@media screen and (max-width: $media-laptop) {
  .title {
    font-size: $font-size-lg;
  }
}

@media screen and (max-width: $media-tab) {
  .tableFilter {
    margin-bottom: $spacing-md;
  }
}

@media screen and (max-width: $media-tab-mini) {
  .title {
    display: none;
  }
  .wrapper {
    max-width: 100%;
    justify-content: space-between;
    gap: $spacing-md;
  }
}
