@use "../../../../shared/styles/variables" as *;

.heroCashback {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  padding-top: 32px;
}

.cashbackCardWrapper {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: flex-end;

  width: 100%;
  max-width: 100%;
  height: 100%;
}

.cashbackCardWrapper img {
  width: 100%;
  height: auto;
}

.cashbackTitle {
  z-index: 1;

  margin: 0;

  font-family: $font-family-base;
  font-size: calc(20px + (32 - 20) * ((100vw - 800px) / (1920 - 800)));
  font-weight: $font-weight-base;
  line-height: normal;
  color: white;
  text-align: center;
  letter-spacing: calc(-0.2px + (-0.32 - (-0.2)) * ((100vw - 800px) / (1920 - 800)));
}

.slotImage {
  transform: scale(1.25);
  height: 66%;
}

@media screen and (max-width: $media-laptop-plus) {
  .heroCashback {
    padding-top: 28px;
  }
}

@media screen and (max-width: $media-tab-mini) {
  .cashbackTitle {
    font-size: calc(20px + (32 - 20) * ((100vw - 390px) / (800 - 390)));
    letter-spacing: calc(-0.2px + (-0.32 - (-0.2)) * ((100vw - 390px) / (800 - 390)));
  }
}
