.preloader {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100dvh;

  background: #090D14;
}

.logoAnimation,
.chipAnimation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -49%);
}

.logoAnimation {
  z-index: 10;
  aspect-ratio: 1/1;
  width: min(26dvw, 13dvh);
}

.chipAnimation {
  aspect-ratio: 1/1;
  width: min(34dvw, 16dvh);
}
