@use "../../styles/variables" as *;

.label {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-block;
  color: $color-text-secondary;
  padding: $spacing-xs $spacing-md;
  gap: $spacing-xs;
  border-radius: $radius-md;
  cursor: pointer;
  transition: background-color $transition-hover;
  transition: color $transition-hover;

  &:hover {
    background-color: $color-bg-on-block;
    color: $color-text-primary;
  }

  &.active {
    background-color: $color-bg-on-block;
    color: $color-text-primary;

    .labelIcon {
      svg {
        color: $color-primary;
      }
    }
  }
}

.labelIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 19px;
    height: 19px;
  }
}
