@use "../../styles/variables" as *;

.label {
  cursor: pointer;

  display: flex;
  gap: $spacing-xs;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: $spacing-xs $spacing-md;

  color: $color-text-secondary;

  background-color: $color-bg-block;
  border-radius: $radius-md;

  transition: background-color $transition-hover;
  transition: color $transition-hover;

  &:hover {
    color: $color-text-primary;
    background-color: $color-bg-on-block;
  }
}

.labelIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 19px;
    height: 19px;
  }
}

.label.active {
  color: $color-text-primary;
  background-color: $color-bg-on-block;

  .labelIcon {
    svg {
      color: $color-primary;
    }
  }
}
