@use "../../../shared/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;

  width: calc(100vw - 281px);
  max-width: 1228px;
  height: 100%;
  margin: 0 auto;
  padding: 0 22px 48px;
}

.slotInfoMobile {
  width: 100dvw;
  padding: 24px 16px 48px;
}

@media screen and (max-width: $media-laptop-plus) {
  .container {
    width: 100vw;
    padding: 0 16px 24px;
  }
}