@use "../../../shared/styles/variables.scss" as *;

.tabMenuItem {
  cursor: pointer;

  position: relative;
  z-index: 1;

  display: flex;
  flex: 1;
  flex-direction: column;
  gap: $spacing-xxs;
  align-items: center;
  justify-content: center;

  padding: $spacing-9;

  font-size: $font-size-xs;
  font-weight: $font-weight-light;

  transition: color $transition-hover;

  & h3{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    text-align: center;
    letter-spacing: -0.12px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.active {
  color: $color-text-primary;
}

@media (hover: hover) {
  .tabMenuItem {
    &:hover::before {
      transform: translate(-50%, -50%) scaleY(1);
      opacity: 1;
    }

    &:hover {
      color: $color-text-primary;
    }
  }
}

@media screen and (max-width: $media-mobile-mini) {
  .tabMenuItem {
    padding: $spacing-5xs;
    font-size: $font-size-xxs;
  }
}
