@use "../../../shared/styles/variables.scss" as *;

.tabMenuItem {
  flex: 1;
  font-size: $font-size-xs;
  font-weight: $font-weight-light;
  padding: $spacing-9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-xxs;
  cursor: pointer;
  transition: color $transition-hover;
  position: relative;
  z-index: 1;

  & h3{
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.12px;
  }

  svg {
    width: 24px;
    height: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(0);
    transform-origin: bottom center;
    width: 60px;
    height: 50px;
    background-color: $color-bg-block;
    border-radius: $radius-full;
    z-index: -1;
    opacity: 0;
    transition: transform $transition-hover, opacity $transition-hover;
  }

  &:hover::before {
    transform: translate(-50%, -50%) scaleY(1);
    opacity: 1;
  }

  &:hover {
    color: $color-text-primary;
  }
}

@media screen and (max-width: $media-mobile-mini) {
  .tabMenuItem {
    padding: $spacing-5xs;
    font-size: $font-size-xxs;

    &::before {
      width: 40px;
      height: 40px;
    }
  }
}
