@use "../../shared/styles/variables" as *;

.sidebar {
  position: sticky;
  top: 0;
  max-width: 256px;
  width: 100%;
  min-height: 100dvh;
  max-height: 1080px;
  background: $color-bg-block;
  padding: $spacing-md;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-md;
  transition: max-width 0.5s ease;

  &.isOpen {
    max-width: 83px;
  }
}

.navigation {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-md;
  position: relative;
  margin-bottom: 50px;
}
