@use "../../shared/styles/variables.scss" as *;

.sidebar {
  grid-area: sidebar;
  background-color: $color-bg;

  &-container {
    background-color: $color-bg-block;
    padding: $spacing-md;
  }
}
