@use "../../shared/styles/variables" as *;

.sidebar {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;

  width: 256px;
  height: 100%;
  padding-bottom: $spacing-md;

  background: $color-bg-block;

  transition: width 0.5s ease;
}

.burgerButton {
  margin-top: 16px;
  transition: margin-left 0.5s ease, color 0.3s ease;
}

.isOpenBurger {
  margin-left: 16px;
}

.navigation {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  align-items: center;

  width: 100%;
  max-height: 100%;
  padding: 0 $spacing-md;
}

.sidebar.isOpen {
  width: 83px;

  & .navigation {
    width: 100%;

  }

  .support {
    padding: 14px;

    & > span {
      gap: 0;
    }

    .supportLabel {
      overflow: hidden;
      width: 0;
    }
  }
}

.sidebarFooter {
  width: 100%;
  margin: auto 0 0;
  padding: 0 16px;
}
