@use "../../shared/styles/variables" as *;

.sidebar {
  padding-bottom: $spacing-md;
  width: 256px;
  height: 100%;
  background: $color-bg-block;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 17px;
  transition: max-width 0.5s ease;

  &.isOpen {
    max-width: 83px;

    & .navigation {
      width: 100%;

    }

    .support {
      padding: 14px;

      & > span {
        gap: 0;
      }

      .supportLabel {
        width: 0;
        overflow: hidden;
      }
    }
  }

}


.burgerButton {
  margin-top: 16px;
  transition: margin-left 0.5s ease;
}

.isOpenBurger {
  margin-left: 16px;
}

.navigation {
  width: 100%;
  padding: 0 $spacing-md;
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;
}

.sidebarFooter {
  width: 100%;
  padding: 0 16px;
  margin: auto 0 0;

  .support {
    width: 100%;
    grid-column: 1/3;
    margin-bottom: 16px;

    border-radius: $radius-lg;
    border: 2px solid $color-bg-on-block;
    background: $color-bg-block;
    justify-content: flex-start;

    .supportIcon {
      flex: 0 0 19px;
      min-width: 19px;
      width: 19px;
      height: 19px;
    }

    .supportLabel {
      width: 100%;
      transition: width 0.1s ease;
    }

    & > span {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: $spacing-9;
    }
  }
}
