@use "../../shared/styles/variables" as *;

.sidebar {
  padding-bottom: $spacing-md;
  overflow: hidden;
  width: 256px;
  height: 100%;
  background: $color-bg-block;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 17px;
  transition: width 0.5s ease;

  &.isOpen {
    width: 83px;

    & .navigation {
      width: 100%;

    }

    .support {
      padding: 14px;

      & > span {
        gap: 0;
      }

      .supportLabel {
        width: 0;
        overflow: hidden;
      }
    }
  }

}


.burgerButton {
  margin-top: 16px;
  transition: margin-left 0.5s ease, color 0.3s ease;
}

.isOpenBurger {
  margin-left: 16px;
}

.navigation {
  width: 100%;
  padding: 0 $spacing-md;
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;
}

.sidebarFooter {
  width: 100%;
  padding: 0 16px;
  margin: auto 0 0;
}
