@font-face {
  font-family: SuisseIntl;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/SuisseIntl-Regular.otf') format('opentype');
}

@font-face {
  font-family: SuisseIntl;
  font-weight: 450;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/SuisseIntl-Book.otf') format('opentype');
}

@font-face {
  font-family: SuisseIntl;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/SuisseIntl-Medium.otf') format('opentype');
}

@font-face {
  font-family: SuisseIntl;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/SuisseIntl-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: SuisseIntl;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/SuisseIntl-Bold.otf') format('opentype');
}
