// Цвета
$color-primary: #1873f2;
$color-button-hover: #3580e9;
$color-bg: #090d14;
$color-bg-banner: #0f141f;
$color-bg-block: #131824;
$color-bg-on-block: #212738;
$color-bg-on-block-hover: #282f42;
$color-text-primary: #f0f5ff;
$color-text-secondary: #727e9b;
$color-like-primary: #f2ba49;
$color-like-default: #313b52;
$color-win-primary: #00e544;
$color-neutral: #e1e4ea;

// Шрифты
$font-family-base: "SuisseIntl", sans-serif;

$font-size-xs: 12px;
$font-size-xs-plus: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 26px;

$font-weight-base: 600;
$font-weight-light: 500;
$font-weight-bold: 700;

//$leading-tight: 0.8;
//$leading-snug: 0.9;
$leading-normal: normal;
//$leading-relaxed: 1.2;
//$leading-loose: 1.5;

$tracking-tight: -0.16px;
$tracking-normal: 0;
//$tracking-wide: 0.02em;
//$tracking-wider: 0.88em;

// Отступы
$spacing-5xs: 4px;
$spacing-4xs: 6px;
$spacing-3xs: 7px;
$spacing-xxs: 8px;
$spacing-9: 9px;
$spacing-xs: 10px;
$spacing-xs-plus: 11px;
$spacing-12: 12px;
$spacing-13: 13px;
$spacing-sm: 14px;
$spacing-sm-plus: 15px;
$spacing-md: 16px;
$spacing-lg: 18px;
$spacing-lg-plus: 24px;
$spacing-xl: 32px;
$spacing-2xl: 48px;
$spacing-3xl: 96px;

// Радиусы углов
$radius-md: 10px;
$radius-lg: 12px;
$radius-xl: 16px;
$radius-xxl: 600px;
$radius-full: 50%;

/* Aspect Ratios */
$aspect-square: 1 / 1;
$aspect-video: 16 / 9;
$aspect-terminal: 9 / 16;

// Плавные переходы
$transition-hover: 0.3s ease;

// медиазапросы
$media-desktop: 1440px;
$media-laptop: 1000px;
$media-tab: 800px;
$media-mobile: 390px;

