.transactionHistory {
  width: 100%;
}

.title {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.26px;
  margin-bottom: 24px;
}

.th {
  padding: 7px 10px;
}

.amountCellBody {
  padding: 7px 14px;
}

.dateCellBody {
  padding: 7px 7px;
}

.statusCell {
  padding: 7px 0;
}

.win {
  color: #00E544
}