@use "../../shared/styles/variables.scss" as *;

.bonuses {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: -4px -3px 0 3px;
}

.promoGrid{
  display: grid;
  aspect-ratio: 1184 / 500;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}