@use "../../styles/variables" as *;

.toggleGroup {
  width: fit-content;
  padding: 6px;

  color: $color-text-secondary;

  background-color: $color-bg-block;
  border-radius: $radius-xl;
}

.toggleGroupItem {
  cursor: pointer;

  padding: $spacing-xs $spacing-md;

  color: $color-text-secondary;

  background-color: inherit;
  border: none;
}

.toggleGroupItem[data-state="on"] {
  color: $color-text-primary;
  background-color: $color-bg-on-block-hover;
  border-radius: $radius-md;
}
