@use "../../styles/variables" as *;

.brand {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  color: $color-text-primary;
  transition: color $transition-hover;

  .text {
    font-family: $font-family-base;
    font-size: $font-size-xl;
    font-weight: $font-weight-base;
    letter-spacing: $tracking-light;
  }
}

@media screen and (max-width: $media-tab) {
  .brand {
    .text {
      font-size: $font-size-lg;
      font-weight: $font-weight-base;
      letter-spacing: -0.2px;
      line-height: 140%;
    }
  }
}

@media screen and (max-width: $media-mobile-mini) {
  .brand {
    gap: $spacing-5xs;
    margin-right: $spacing-5xs;
  }
}

@media (hover: hover) and (pointer: fine) {
  .brand:hover {
    color: $color-text-secondary;
  }
}
