@use "../../../shared/styles/variables" as *;

.footer {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 120px;
  padding: $spacing-md $spacing-md 14px;

  background: $color-bg-banner;
  background: url("../../../shared/assets/images/support/supportSidebarBg.png") no-repeat right center;
  background-size: cover;
  border-radius: $spacing-md;


  h3 {
    overflow: hidden;
    display: flex;
    gap: $spacing-xxs;

    width: 100%;

    font-size: $font-size-lg;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.2px;
    white-space: nowrap;

    transition: width 0.3s ease;
  }

  button {
    overflow: hidden;
    width: 137px;
    color: $color-text-primary;
    background-color: $color-bg-on-block;

    &:hover {
      background-color: $color-bg-on-block-hover;
    }
  }

  .supportTime {
    overflow: hidden;

    padding: 6px 12px;

    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.14px;

    background-color: $color-primary;
    border-radius: 160px;
  }

  &.closed {
    background: url("../../../shared/assets/images/support/supportSidebarBgClosed.png") no-repeat right center;

    h3 {
      width: 0;
    }

    button {
      opacity: 0;

    }
  }
}

