@use "../../../shared/styles/variables" as *;

.footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 115px;
  border-radius: $spacing-md;
  background: $color-bg-banner;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../../../shared/assets/icons/sideBarBg.svg") no-repeat right -24px center;
    background-size: 115px;
    opacity: 0.3;
    transition: background-position 0.5s ease;
    pointer-events: none;
  }

  &.closed {
    &::after {
      background-position: right -16px center;
    }
  }
}

