@use "../../../shared/styles/variables" as *;

.footer {
  position: relative;
  padding: $spacing-12;
  width: 100%;
  min-height: 115px;
  border-radius: $spacing-md;
  background: $color-bg-banner;

  h3 {
    font-size: $font-size-md;
    display: flex;
    margin-bottom: 23px;
    gap: $spacing-xxs;
    letter-spacing: -0.2px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    transition: width 0.3s ease;
  }

  button {
    color: $color-text-primary;
    background-color: $color-bg-on-block;
    width: 137px;
    overflow: hidden;
    &:hover {
      background-color: $color-bg-on-block-hover;
    }
  }

  .support-time {
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
    background-color: $color-primary;
    padding: 2px 10px;
    border-radius: 160px;
    overflow: hidden;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../../../shared/assets/icons/sideBarBg.svg") no-repeat right -24px center;
    background-size: 115px;
    opacity: 0.3;
    transition: background-position 0.3s ease;
    pointer-events: none;
  }

  &.closed {
    h3 {
      width: 0;
    }

    button {
      opacity: 0;

    }


    &::after {
      background-position: right -16px center;
    }
  }
}

