@use "../../../shared/styles/variables" as *;

.footer {
  position: relative;

  width: 100%;
  min-height: 115px;
  padding: $spacing-12;

  background: $color-bg-banner;
  border-radius: $spacing-md;

  &::after {
    pointer-events: none;
    content: "";

    position: absolute;
    inset: 0;

    opacity: 0.3;
    background: url("../../../shared/assets/icons/sideBarBg.svg") no-repeat right -24px center;
    background-size: 115px;

    transition: background-position 0.3s ease;
  }

  h3 {
    overflow: hidden;
    display: flex;
    gap: $spacing-xxs;

    width: 100%;
    margin-bottom: 23px;

    font-size: $font-size-md;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.2px;
    white-space: nowrap;

    transition: width 0.3s ease;
  }

  button {
    overflow: hidden;
    width: 137px;
    color: $color-text-primary;
    background-color: $color-bg-on-block;

    &:hover {
      background-color: $color-bg-on-block-hover;
    }
  }

  .support-time {
    overflow: hidden;

    padding: 2px 10px;

    font-size: $font-size-xs;
    font-weight: $font-weight-bold;

    background-color: $color-primary;
    border-radius: 160px;
  }

  &.closed {
    &::after {
      background-position: right -16px center;
    }

    h3 {
      width: 0;
    }

    button {
      opacity: 0;

    }
  }
}

