@use "../../shared/styles/variables.scss" as *;

.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 49.3% 24% 24%;
  grid-template-areas: "bonus slot cashback";
  gap: $spacing-md;
  justify-content: center;
  height: 360px;
  margin-bottom: 48px;
}

