@use "../../shared/styles/variables.scss" as *;

.hero {
  width: 100%;
  display: grid;
  aspect-ratio: 1184 / 360;
  grid-template-columns: 49.3% 24% 24%;
  grid-template-areas: "bonus slot cashback";
  gap: $spacing-md;
  justify-content: center;
  height: auto;
  margin-bottom: 48px;
}

@media screen and (max-width: $media-laptop-plus) {
  .hero {
    aspect-ratio: 768 / 224;
    grid-template-columns: 48.6% 23.2% 23.2%;
    margin-bottom: 23px;
  }
}

@media screen and (max-width: $media-tab-mini) {
  .hero {
    aspect-ratio: 358 / 411;
    grid-template-rows: 43% 54%;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "bonus bonus""slot cashback";
  }
}

