@use "../../shared/styles/variables.scss" as *;

.hero {
  display: grid;
  grid-template-areas: "bonus slot cashback";
  grid-template-columns: 49.3% 24% 24%;
  gap: $spacing-md;
  justify-content: center;

  aspect-ratio: 1184 / 360;
  width: 100%;
  height: auto;
}

@media screen and (max-width: $media-laptop-plus) {
  .hero {
    grid-template-columns: 49.48% 24.22% 24.22%;
    aspect-ratio: 768 / 224;
    gap: 8px;
  }
}

@media screen and (max-width: $media-tab-mini) {
  .hero {
    grid-template: "bonus bonus" 43% "slot cashback" 54% / 1fr 1fr;
    gap: 10px;
    aspect-ratio: 358 / 411;
  }
}

