@use "../../shared/styles/variables.scss" as *;

.hero-cashback {
  position: relative;
  grid-area: cashback;
  width: 100%;
  height: 100%;
  background-color: #090d14;
  color: $color-text-primary;

}

.slotViewport {
  height: 100%;
  overflow: hidden;
}

.cashbackContainer {
  display: flex;
  height: 100%;
}

.cashbackSlide {
  flex: 0 0 100%;
  height: 100%;
  margin-right: $spacing-md;
  overflow: hidden;
  border-radius: $radius-xl-plus;
  background: $color-bg-block;
}

.heroCashback {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
}


.cashbackCardWrapper {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.cashbackCardWrapper img {
  width: 100%;
  height: auto;
}

.cashbackTitle {
  margin: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: 32px;
  line-height: normal;
  letter-spacing: -0.32px;
  text-align: center;
  z-index: 1;
  color: white;
}

.cashbackPagination {
  position: absolute;
  z-index: 5;
  bottom: 9%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $spacing-md;
  border-radius: 160px;
  background: rgba(white, 0.1);
  width: 88px;
  gap: 4px;
  padding: 4px;
}

.cashbackPaginationBar {
  width: 56px;
  height: 4px;
  border-radius: 160px;
  background: $color-text-primary;
  display: flex;
  align-items: center;
}

.cashbackDot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background: $color-text-secondary;
  cursor: pointer;
  transition: background-color $transition-hover, transform $transition-hover;
}

@media screen and (max-width: $media-laptop-plus) {
  .cashbackTitle{
    font-size: 20px;
    letter-spacing: -0.2px;
  }
  .heroCashback {
    padding-top: 28px;
  }
  .hero-cashback {
    border-radius: 20px;
  }
}

@media screen and (max-width: $media-tab-mini-plus) {
  .hero-cashback {
    border-radius: 16px;
  }

}