@use "../../shared/styles/variables.scss" as *;

.slotCarousel {
  position: relative;
  grid-area: slot;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: #090d14;
  color: $color-text-primary;
  transition: transform $transition-hover;

  &:hover {
    transform: translateY(-5px);
  }
}

.slotViewport {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slotSlide {
  height: 100%;
  overflow: hidden;
  border-radius: $radius-xl-plus;
  background: $color-bg-block;
  cursor: pointer;
  box-sizing: border-box;
}

.heroSlot {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
}

.slotCardWrapper {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.slotCardWrapper img {
  width: 100%;
  height: auto;
}

.slotTitle {
  margin: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: calc(20px + (32 - 20) * ((100vw - 800px) / (1920 - 800)));
  letter-spacing: calc(-0.2px + (-0.32 - (-0.2)) * ((100vw - 800px) / (1920 - 800)));
  line-height: normal;
  text-align: center;
  z-index: 1;
  color: white;
}

.slotPagination {
  position: absolute;
  z-index: 5;
  bottom: 9%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $spacing-md;
  border-radius: 160px;
  background: rgba(white, 0.1);
  width: 88px;
  gap: 4px;
  padding: 4px;
}

.slotPaginationBar {
  width: 56px;
  height: 4px;
  border-radius: 160px;
  background: $color-text-primary;
  display: flex;
  align-items: center;
}

.slotDot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background: $color-text-secondary;
  transition: transform $transition-hover;
}

@media screen and (max-width: $media-laptop-plus) {
  .slotTitle {
    font-size: 20px;
    letter-spacing: -0.2px;
  }
  .heroSlot {
    padding-top: 28px;
  }
  .slotCarousel {
    border-radius: 20px;
  }
}

@media screen and (max-width: $media-tab-mini) {
.slotTitle{
  font-size: calc(20px + (32 - 20) * ((100vw - 390px) / (800 - 390)));
  letter-spacing: calc(-0.2px + (-0.32 - (-0.2)) * ((100vw - 390px) / (800 - 390)));
}
  .slotCarousel {
    border-radius: 16px;
  }
  .heroSlot {
    padding-top: 26px;
  }
}
