@use "../../shared/styles/variables.scss" as *;

.slotCarousel {
  position: relative;
  grid-area: slot;
  width: 100%;
  height: 100%;
  border-radius: $radius-xl-plus;
  background: $color-bg-block;
  overflow: hidden;
  color: $color-text-primary;
}

.slotViewport {
  height: 100%;
  overflow: hidden;
}

.slotContainer {
  display: flex;
  height: 100%;
}

.slotSlide {
  flex: 0 0 100%;
  height: 100%;
}

.heroSlot {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
}


.slotCardWrapper {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.slotCardWrapper img {
  width: 100%;
  height: auto;
}

.slotTitle {
  margin: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: 32px;
  line-height: normal;
  letter-spacing: -0.32px;
  text-align: center;
  z-index: 1;
}

.slotPagination {
  position: absolute;
  z-index: 5;
  bottom: 9%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $spacing-md;
  border-radius: 160px;
  background: rgba(255, 255, 255, 0.10);
  width: 88px;
  gap: 4px;
  padding: 4px;
}

.slotPaginationBar {
  width: 56px;
  height: 4px;
  border-radius: 160px;
  background: $color-text-primary;
  display: flex;
  align-items: center;
}

.slotDot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background: $color-text-secondary;
  cursor: pointer;
  transition: background-color $transition-hover, transform $transition-hover;
}

@media screen and (max-width: $media-laptop-plus) {
  .slotTitle{
    font-size: 20px;
    letter-spacing: -0.2px;
  }
  .heroSlot {
    padding-top: 28px;
  }
}

