@use "../../shared/styles/variables.scss" as *;

.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 49.3% 24% 24%;
  grid-template-areas: "bonus slot cashback";
  gap: $spacing-md;
  justify-content: center;
  height: 360px;
}

.hero-slot,
.hero-cashback {
  background: $color-bg-block;
  border-radius: $radius-xl-plus;
  color: $color-text-primary;
  padding: $spacing-xl;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 360px;
}

.hero-slot {
  grid-area: slot;
}

.hero-cashback {
  grid-area: cashback;
}
