@use "../../shared/styles/variables.scss" as *;

.heroBonusCarousel {
  position: relative;

  overflow: hidden;
  grid-area: bonus;

  width: 100%;
  max-width: 100%;
  height: 100%;
}

.heroBonusViewport {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.heroBonusContainer {
  display: flex;
  height: 100%;
}

.heroBonusSlide {
  cursor: pointer;

  overflow: hidden;
  flex: 0 0 100%;

  box-sizing: border-box;
  min-width: 0;
  height: 100%;
  margin-right: 0;

  border-radius: $radius-xl-plus;
}

.heroBonus {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  padding: $spacing-xl 0 $spacing-xl $spacing-xl;

  color: $color-text-primary;

  background: $color-bg-block;
}

.title {
  position: relative;
  z-index: 1;

  max-width: calc(249px + (383 - 249) * ((100vw - 800px) / (1920 - 800)));
  margin: 0;

  font-family: $font-family-base;
  font-size: calc(26px + (40 - 26) * ((100vw - 800px) / (1920 - 800)));
  font-weight: $font-weight-base;
  font-style: normal;
  line-height: normal;
  color: white;
  letter-spacing: calc(-0.26px + (-0.4 - (-0.26)) * ((100vw - 800px) / (1920 - 800)));

  background: url("../../assets/icons/500.svg") no-repeat;
  background-position: top -4px right calc(-2px + (-18 - (-2)) * ((100vw - 800px) / (1920 - 800)));
  background-size: calc(143px + (232 - 143) * ((100vw - 800px) / (1920 - 800)));
}

.heroBonusNumber {
  position: absolute;
  z-index: 1;
  top: 7%;
  left: 34%;

  width: 240px;
  max-width: 100%;
}

.hero-bonus-number {
  display: block;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 12px 32px rgba(0, 0, 0, 35%));
}

.hero-bonus-button {
  position: relative;
  z-index: 1;

  width: fit-content;
  margin-top: auto;

  box-shadow: 0 12px 32px rgba($color-primary, 0.35);
}

.bonusAnimation {
  pointer-events: none;

  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 1px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.heroBonusPagination {
  position: absolute;
  z-index: 1;
  right: 5%;
  bottom: 9%;

  display: flex;
  gap: 4px;
  align-items: center;

  width: 88px;
  padding: 4px;

  background: rgba(white, 0.1);
  border-radius: 160px;
}

.bonusDot {
  cursor: pointer;

  width: 4px;
  height: 4px;
  padding: 0;

  background: $color-text-secondary;
  border: none;
  border-radius: 50%;

  transition: width $transition-hover,
  height $transition-hover,
  background-color $transition-hover,
  border-radius $transition-hover;

  &.activeDote {
    width: 56px;
    height: 4px;
    background: $color-text-primary;
    border-radius: 160px;
  }
}

@media screen and (max-width: $media-laptop-plus) {
  .heroBonusCarousel {
    border-radius: 20px;
  }

  .heroBonusNumber {
    top: 3px;
    left: 134px;
    width: 142px;
  }

  .heroBonus {
    padding: 24px 0 24px 24px;
  }

  .bonusAnimation {
    right: -10px;
    bottom: -1px;
  }
}

@media screen and (max-width: $media-tab-mini) {
  .title {
    max-width: calc(249px + (331 - 249) * ((100vw - 390px) / (640 - 390)));

    font-size: calc(26px + (40 - 26) * ((100vw - 390px) / (800 - 390)));
    letter-spacing: calc(-0.26px + (-0.4 - (-0.26)) * ((100vw - 390px) / (800 - 390)));

    background-position: top -4px right calc(-2px + (-18 - (-2)) * ((100vw - 390px) / (800 - 390)));
    background-size: calc(143px + (232 - 143) * ((100vw - 390px) / (800 - 390)));

  }

  .hero-bonus-button {
    margin-top: 6px;
  }

  .bonusAnimation {
    right: -40px;
    bottom: 1px;
  }
}

@media screen and (max-width: $media-mobile) {
  .heroBonusNumber {
    top: -1px;
    left: 111px;
  }
}




