@use "../../shared/styles/variables.scss" as *;

.slideUpMenu {
  touch-action: pan-y;
  will-change: transform, opacity;

  position: fixed;
  z-index: 99;
  inset: 64px 0 0;
  transform: translateY(100%);

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

  min-height: calc(100dvh - 64px);
  padding: 16px 0 79px;

  opacity: 0;
  background-color: #131824;

  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
.input{
  height: 56px;
  max-height: 56px;
}
  &.open {
    transform: translateY(0);
    opacity: 1;
  }

  .inputWrapper {
    padding: 0 16px;
  }

  .separator {
    width: 100%;
    height: 2px;
    background: #212738;
  }

  .navigation {
    padding: 0 16px;
  }

  .support {
    display: flex;
    gap: 8px;
    max-width: 353px;
    padding: 0 16px;
    width: 100%;
    margin: auto auto 0;

    .supportButton {
      flex-shrink: 0;

      width: 56px !important;
      min-width: 56px;
      max-width: 56px;
      height: 56px !important;
      min-height: 56px;
      max-height: 56px;
      padding: 0;

      border-radius: 16px;

      .svg {
        width: 19px;
        height: 19px;
      }
    }

    .banner {
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      color: $color-text-primary;

      background: #212738;
      border-radius: 16px;
    }

    .text {
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      line-height: 140%;
      letter-spacing: -0.2px;
    }

    .time {
      display: inline-block;

      padding: 6px 13px;

      font-size: 14px;
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.14px;

      background: #1873F2;
      border-radius: 160px;
      box-shadow: 0 0 32px 0 rgba(24, 115, 242, 32%);
    }
  }
}

@media screen and (width <= 389px) {
  .slideUpMenu {

    .banner {
      .text {
        font-size: 16px;
      }

      .time {
        font-size: 12px;
      }
    }

  }

}