@use "../../../../../shared/styles/variables" as *;

.overlay {
  z-index: 1100;
  backdrop-filter: none;
}

.content {
  z-index: 1150;

  width: 100%;
  max-width: 494px;
  max-height: 100%;
  padding: 16px 0;
}

.body {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 0 16px;
}

.closeButton {
  top: 16px !important;
  right: 16px !important;
  max-width: 28px !important;
  max-height: 28px !important;

  > span {
    width: 10px;
    height: 10px;
  }

  > span svg {
    width: 10px;
    height: 10px;
  }
}

.headerClassName {
  height: auto;
  padding: 0 40px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.wrapper {
  overflow: hidden;

  margin: 0 auto;
  padding: 16px;

  background: #fff;
  border-radius: 12px;
}


@media screen and (width <= 1024px) {
  .content {
    max-width: 100%;
    max-height: calc(100% - 75px);
  }
}
