@use "../../shared/styles/variables.scss" as *;

.wrapper {
  width: 100%;
}

.title {
  color: #ffffff;
  margin-bottom: $spacing-lg-plus;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.26px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-md;
}
