@use "../../shared/styles/variables.scss" as *;

.wrapper {
  width: 100%;
}

.title {
  margin-bottom: $spacing-lg-plus;

  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #fff;
  letter-spacing: -0.26px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-md;
}
