@use "../../styles/variables.scss" as *;

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;

  &:not(:last-child)::after {
    content: "/";
    margin: 0 7px;
    color: $color-text-secondary;
  }
}

.link {
  color: $color-text-secondary;
  text-decoration: none;
  transition: color $transition-hover;

  &:hover {
    color: $color-text-primary;
  }
}

.current {
  color: $color-text-primary;
  cursor: default;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;
}
