@use "../../styles/variables.scss" as *;

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;

  &:not(:last-child)::after {
    content: "/";

    margin: 0 7px;

    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    color: $color-text-secondary;
  }
}

.link {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: $color-text-secondary;
  text-decoration: none;

  transition: color $transition-hover;

  &:hover {
    color: $color-text-primary;
  }
}

.current {
  cursor: default;

  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: $color-text-primary;
  letter-spacing: -0.16px;
}
