@use "../../styles/variables" as *;

.emptyState {
  display: flex;
  grid-column: 1 / -1;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 24px 16px;

  text-align: center;

  .title {
    margin-top: 16px;

    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 140%; /* 28px */
    letter-spacing: -0.2px;
  }

  .subtitle {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    color: $color-text-secondary;
  }

  .btn{
    margin-top: 24px;
  }
}

@media (max-width: $media-laptop) {
  .emptyState {
    min-height: 240px;
  }
}
