@use "../../../shared/styles/variables.scss" as *;

.container {
  position: relative;
  overflow-x: auto;
  width: 100%;
  min-width: 0;
}

.table {
  overflow: hidden;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;

  width: 100%;

  text-align: left;

  border-radius: $radius-lg;
}

.thead {
  width: 100%;
  background: $color-bg-on-block;
}

.tbody {
  background: $color-bg-block;
}

.tr {
  cursor: pointer;
  width: 100%;
  height: 39px;
  transition: background $transition-hover;

  &:hover {
    background: $color-bg-on-block;
  }
}

.th {
  width: 20%;
  padding: $spacing-3xs $spacing-5xs;

  font-family: $font-family-base;
  font-size: $font-size-md;
  font-weight: $font-weight-base;
  color: $color-text-primary;
  letter-spacing: $tracking-tight;

  background: $color-bg-on-block;

  &:first-of-type {
    padding-left: 17px;
  }

  &:last-of-type {
    padding-right: $spacing-md;
    padding-left: 0;
  }
}

.tfoot .th{
  background: #0F141F;
  border-top: 1px solid #212738;
}

.td {
  width: 20%;
  padding: $spacing-3xs $spacing-5xs;

  font-family: $font-family-base;
  font-size: $font-size-md;
  font-weight: $font-weight-light;
  color: $color-text-secondary;

  &:first-of-type {
    padding-left: $spacing-md;
  }

  &:last-of-type {
    padding-right: $spacing-md;
  }
}
