@use "../../../shared/styles/variables.scss" as *;

.container {
  position: relative;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  table-layout: fixed;
  border-radius: $radius-lg;
  overflow: hidden;
}

.thead {
  width: 100%;
  background: $color-bg-on-block;
}

.tbody {
  background: $color-bg-block;
}


.tr {
  width: 100%;
  transition: background $transition-hover;
  cursor: pointer;

  &:hover {
    background: $color-bg-on-block;
  }
}

.th {
  width: 20%;
  padding: $spacing-3xs $spacing-5xs;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: $font-size-md;
  letter-spacing: $tracking-tight;
  color: $color-text-primary;
  background: $color-bg-on-block;

  &:first-of-type {
    padding-left: $spacing-md;
  }
  &:last-of-type {
    padding-right: $spacing-md;
  }
}

.td {
  width: 20%;
  padding: $spacing-3xs $spacing-5xs;
  font-family: $font-family-base;
  font-weight: $font-weight-light;
  font-size: $font-size-md;
  color: $color-text-secondary;
  &:first-of-type {
    padding-left: $spacing-md;
  }
  &:last-of-type {
    padding-right: $spacing-md;
  }
}
