@use "../../../shared/styles/variables.scss" as *;

.rankCard {
  display: flex;
  justify-content: space-between;

  padding: 32px 21px 32px 35px;

  background: #131824;
  border-radius: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 327px;
  height: 100%;
}

.title {
  margin-bottom: 12px;

  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

.description {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: $color-text-secondary;
}


.userAmountBlock {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.amountWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.16px;
}


.amountButton {
  gap: $spacing-xs;
  justify-content: center;
  padding: 0 !important;

  span {
    display: flex;
    gap: 8px;
    align-items: center;
    white-space: nowrap;
  }

  svg {
    margin: auto;
  }
}

.progress {
  position: relative;
  transform: translateZ(0);

  overflow: hidden;

  width: 100%;
  height: 10px;

  background: $color-bg-banner;
  border-radius: 160px;
}

.progressIndicator {
  width: 100%;
  height: 100%;

  background-color: $color-primary;
  border-radius: 160px;

  transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}

.moneyWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.moneyItemWrap {
  display: flex;
  gap: $spacing-xs;
  align-items: center;

  height: 19px;

  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.16px;

  > svg {
    width: 19px;
  }
}

.image {
  flex-shrink: 0;
  align-self: flex-start;

  aspect-ratio: 1 / 1;
  width: 31%;
  max-width: 161px;

  .userInfoImage {
    user-select: none;

    width: 100%;
    height: 100%;

    object-fit: contain;

    -webkit-user-drag: none;
  }
}

@media screen and (max-width: $media-tab) {
  .rankCard {
    position: relative;
    padding: 24px 24px 26px;
    border-radius: 20px;
  }

  .info {
    max-width: 100%;

  }

  .title {
    margin-bottom: 8px;

    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.2px;
  }

  .description {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 155%;
  }

  .userAmountBlock {
    gap: 15px;
  }

  .image {
    position: absolute;
    top: 6px;
    right: 2px;

    width: 122px;
    height: 85px;
  }
}