.wrapper {
  position: relative;
  width: 100%;
}

.wrapper.default {
  --dropdown-bg: #212738;
}

.wrapper.hover {
  --dropdown-bg:#2b3247;
}

.trigger {
  cursor: pointer;

  display: inline-flex;
  gap: 6px;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 16px;

  font-family: SuisseIntl, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #f0f5ff;
  letter-spacing: -0.16px;

  background: #212738;
  border: none;
  border-radius: 10px;

  transition:
    background-color 0.2s ease,
    transform 0.1s ease,
    box-shadow 0.1s ease;
}

.trigger:active {
  transform: translateY(1px) scale(0.97);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 15%);
}

.trigger:hover {
  background: #282f42;
}

.trigger:focus-visible {
  outline: 2px solid rgba(24, 115, 242, 70%);
  outline-offset: 2px;
}

.label {
  overflow: hidden;
  flex: 1;

  min-width: 0;

  font-family: SuisseIntl, sans-serif;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chevron {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 14px;
  height: 8px;

  transition: transform 0.2s ease;
}

.chevronOpen {
  transform: rotate(180deg);
}

.listWrapper {
  pointer-events: none;

  position: absolute;
  z-index: 1000;
  right: auto;
  left: 0;

  overflow: hidden;

  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
  margin: 10px 0 0;

  visibility: hidden;
  opacity: 0;
  background: #e1e4ea;
  border-radius: 10px;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  list-style: none;
}

.listWrapper.open {
  pointer-events: auto;
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.listScrollable {
  scrollbar-color: #c3c8d4 transparent;
  scrollbar-width: thin;
  overflow: hidden auto;
  max-height: 260px;
}

.listScrollable::-webkit-scrollbar {
  width: 6px;
}

.listScrollable::-webkit-scrollbar-track {
  background: transparent;
}

.listScrollable::-webkit-scrollbar-thumb {
  background: #c3c8d4;
  border-radius: 999px;
}

.listScrollable::-webkit-scrollbar-thumb:hover {
  background: #a4abba;
}

.option {
  cursor: pointer;

  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  box-sizing: border-box;
  width: 100%;
  padding: 10px 11px;

  font-family: SuisseIntl, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #212738;
  text-align: left;
  letter-spacing: -0.16px;

  background: #e1e4ea;
  border: none;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.optionNumber {
  margin-left: auto;

  font-family: 'Suisse Intl', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #727e9b;
  letter-spacing: -0.16px;
}

.optionContent {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.optionLabel {
  flex: 1;

  min-width: 0;

  font-size: 14px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.optionRadio {
  position: relative;

  flex-shrink: 0;

  box-sizing: border-box;
  width: 19px;
  height: 19px;

  border: 2px solid #727e9b;
  border-radius: 600px;

  transition: border-color 0.3s ease;
}

.optionActive .optionRadio {
  border-color: #1873f2;
}

.optionActive .optionRadio::after {
  content: '';

  position: absolute;
  inset: 5px;

  background: #1873f2;
  border-radius: inherit;
}

.option:hover,
.option:focus-visible {
  background: #f2f4f8;
  outline: none;
}

.option:not(.optionActive):hover .optionRadio,
.option:not(.optionActive):focus-visible .optionRadio {
  border-color: #212738;
  outline: none;
}

.optionActive {
  color: #212738;
  background: #f0f5ff;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}
