@use "../../../shared/styles/variables.scss" as *;

.rankCard {
  position: relative;

  overflow: hidden;
  display: flex;
  justify-content: space-between;

  min-height: 242px;
  padding: 32px 32px 31px 33px;

  background: #131824;
  border-radius: 24px;
}

.info {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 327px;
  height: 100%;
}

.title {
  margin-bottom: 12px;

  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

.description {
  max-width: 260px;

  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  color: $color-text-secondary;
}

.promocode {
  display: flex;

  width: 100%;
  max-width: 327px;

  background: #212738;
  border-radius: 12px;

}


.imageWrapper {
  pointer-events: none;

  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 584px;
  height: 244px;
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right center;
  }
}