@use "../../../shared/styles/variables.scss" as *;

.promoCodeCard {
  position: relative;

  overflow: hidden;
  display: flex;
  justify-content: space-between;

  min-height: 242px;
  padding: 32px 32px 37px 33px;

  background: #131824;
  border-radius: 24px;
}

.info {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 327px;
  height: 100%;
}

.title {
  margin-bottom: 12px;

  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

.description {
  max-width: 260px;

  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  color: $color-text-secondary;
}

.promocode {
  display: flex;

  width: 100%;
  max-width: 325px;

  background: #212738;
  border-radius: 12px;

}


.imageWrapper {
  pointer-events: none;

  position: absolute;
  z-index: 0;
  top: 0;
  right: 17px;

  width: 213px;

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right center;
  }
}

@media screen and (width <= 1124px) {
  .imageWrapper {
    top: 0;
    right: 15px;
    width: 119px;
  }
}

@media screen and (max-width: $media-tab) {
  .promoCodeCard {
    position: relative;
    min-height: 215px;
    padding: 24px 24px 25px;
    border-radius: 20px;
  }

  .info {
    max-width: 100%;
  }

  .title {
    margin-bottom: 8px;

    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.2px;
  }

  .description {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 155%;
  }

  .promocode {
    max-width: 331px;
  }
}

@media screen and (max-width: $media-tab-mini-plus) {
  .promoCodeCard {
    min-height: 205px;
  }

  .description {
    max-width: 75%;
  }

  .imageWrapper {
    top: 0;
    right: 12px;
    width: 112px;
  }
}