@use "../../../shared/styles/variables.scss" as *;

.rankCard {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 32px 32px 31px 33px;
  border-radius: 24px;
  background: #131824;
  min-height: 242px;
  overflow: hidden;
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 327px;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  margin-bottom: 12px;
}

.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  color: $color-text-secondary;
  max-width: 260px;
}

.promocode {
  display: flex;
  max-width: 327px;
  width: 100%;
  border-radius: 12px;
  background: #212738;

}


.imageWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 584px;
  height: 244px;
  pointer-events: none;
  z-index: 0;
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right center;
  }
}