@use "../../../shared/styles/variables.scss" as *;

.root {
  position: relative;

  overflow: hidden;

  padding: 6px;

  background: $color-bg-block;
  border-radius: 16px;
}

.root--no-fade {
  &::before,
  &::after {
    display: none;
  }
}

.root::after,
.root::before {
  pointer-events: none;
  content: '';

  position: absolute;
  z-index: 1;
  top: 0;

  flex: 0 0 55px;

  width: 55px;
  height: 100%;
}

.root::after {
  left: 0;
  background: linear-gradient(90deg, #131824 0%, rgba(19, 24, 36, 0%) 100%);
}

.root::before {
  right: 0;
  background: linear-gradient(90deg, rgba(19, 24, 36, 0%) 0%, #131824 100%);
}

.wrapper {
  scrollbar-width: none;

  overflow-x: auto;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tab {
  min-height: 39px;
}

.activeTabs {
  position: relative;
  z-index: 5;
}

.activeTabs > span {
  color: $color-text-primary;
}