@use "../../../shared/styles/variables" as *;

.slotCarousel {
  position: relative;

  overflow: hidden;
  grid-area: slot;

  width: 100%;
  max-width: 100%;
  height: 100%;

  color: $color-text-primary;

  background-color: #090d14;

  transition: transform $transition-hover;

  &:hover {
    transform: translateY(-5px);
  }
}

.slotViewport {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slotSlide {
  cursor: pointer;

  overflow: hidden;

  box-sizing: border-box;
  height: 100%;

  background: $color-bg-block;
  border-radius: $radius-xl-plus;
}

.heroSlot {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  padding-top: 32px;
}

.slotCardWrapper {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: flex-end;

  width: 100%;
  max-width: 100%;
  height: 100%;
}

.slotCardWrapper img {
  width: 100%;
  height: auto;
}

.slotTitle {
  z-index: 1;

  margin: 0;

  font-family: $font-family-base;
  font-size: calc(20px + (32 - 20) * ((100vw - 800px) / (1920 - 800)));
  font-weight: $font-weight-base;
  line-height: normal;
  color: white;
  text-align: center;
  letter-spacing: calc(-0.2px + (-0.32 - (-0.2)) * ((100vw - 800px) / (1920 - 800)));
}

.slotPagination {
  position: absolute;
  z-index: 5;
  bottom: 9%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  width: 88px;
  margin-top: $spacing-md;
  padding: 4px;

  background: rgba(white, 0.1);
  border-radius: 160px;
}

.slotPaginationBar {
  display: flex;
  align-items: center;

  width: 56px;
  height: 4px;

  background: $color-text-primary;
  border-radius: 160px;
}

.slotDot {
  width: 4px;
  height: 4px;
  padding: 0;

  background: $color-text-secondary;
  border: none;
  border-radius: 50%;

  transition: transform $transition-hover;
}

@media screen and (max-width: $media-laptop-plus) {
  .heroSlot {
    padding-top: 28px;
  }

  .slotCarousel {
    border-radius: 20px;
  }
}

@media screen and (max-width: $media-tab-mini) {
  .slotTitle{
    font-size: calc(20px + (32 - 20) * ((100vw - 390px) / (800 - 390)));
    letter-spacing: calc(-0.2px + (-0.32 - (-0.2)) * ((100vw - 390px) / (800 - 390)));
  }

  .slotCarousel {
    border-radius: 16px;
  }

  .heroSlot {
    padding-top: 26px;
  }
}
