@use "../../../shared/styles/variables.scss" as *;

.layout {
  display: grid;
  grid-template:
    "sidebar header" auto "sidebar content" 1fr "sidebar footer" auto / auto minmax(0, 1fr);

  height: 100dvh;

  color: $color-text-primary;

  background-color: $color-bg;
}

.headerLayout {
  grid-area: header;
}

.sidebarLayout {
  grid-area: sidebar;
}

.layoutMain {
  position: relative;
  overflow: hidden auto;
  grid-area: content;
  max-height: 100%;
}

.layoutMainContainer {
  width: calc(100vw - 281px);
  max-width: 1228px;
  margin: 0 auto;
  padding: 48px 22px;
}


.tabScreenMenu {
  display: none !important;
}

.fixedButton {
  pointer-events: none;

  position: sticky;
  z-index: 1000;
  bottom: 60px;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  width: calc(100vw - 281px);
  max-width: 1228px;
  height: 0;
  margin: -44px auto 0;
  padding: 0 22px;
}

.supportBtn {
  pointer-events: auto;

  justify-self: flex-end;

  width: 44px;
  height: 44px;
  min-height: 44px;
  padding: 0 !important;
}

.scrollTopButton {
  pointer-events: none;

  grid-column: 2/3;
  justify-self: center;

  width: 120px;

  opacity: 0;

  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
  transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
  width 0.3s ease,
  height 0.3s ease;

  &.scrollTopButtonVisible {
    pointer-events: auto;
    transform: translateY(0);
    opacity: 1;
  }

  &:active {
    transform: translateY(0) scale(0.95);
  }

  .scrollUpBtnContent {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;

    span {
      transition: width 0.3s ease, opacity 0.3s ease;
    }

    svg {
      width: 10px;
      height: 15px;
    }
  }
}

@media screen and (max-width: $media-laptop-plus) {
  .layoutMain {
    margin-bottom: 74px;
  }

  .layoutMainContainer {
    width: 100vw;
    padding: 24px 16px;
  }

  .fixedButton {
    width: 100vw;
    padding: 0 16px;
  }

  .scrollTopButton {
    width: 39px;
    max-width: 39px;
    height: 44px;
    min-height: 44px;
    padding: 0;

    .scrollUpBtnContent {
      gap: 0;
      width: 100%;

      svg {
        width: 12px;
        height: 17px;
      }

      span {
        overflow: hidden;
        width: 0;
        opacity: 0;
      }
    }
  }

  .layout {
    grid-template-areas:
      "header"
      "content"
      "footer"
      "tabMenu";
    grid-template-columns: minmax(0, 1fr);
  }

  .sidebarLayout {
    display: none !important;
  }

  .tabScreenMenu {
    position: fixed;
    z-index: 1050;
    right: 0;
    bottom: -1px;
    left: 0;

    display: flex !important;
    grid-area: tabMenu;
  }
}

@media screen and (max-width: $media-tab-mini-plus) {
  .scrollTopButton {
    grid-column: 1/2;
    justify-self: flex-start;
  }

  .supportBtn {
    grid-column: 3/4;
  }
}

@media screen and (max-width: $media-mobile-mini) {
  .layoutMain {
    margin-bottom: 64px;
  }
}
