@use "../../../shared/styles/variables.scss" as *;

.layout {
  display: grid;
  grid-template:
    "sidebar header" auto "sidebar content" 1fr "sidebar footer" auto / auto minmax(0, 1fr);

  height: 100dvh;

  color: $color-text-primary;

  background-color: $color-bg;
}

.headerLayout {
  grid-area: header;
}

.sidebarLayout {
  grid-area: sidebar;
}

.layoutMain {
  position: relative;
  overflow: hidden auto;
  grid-area: content;
  max-height: 100%;
}

.layoutMainContainer {
  width:calc(100vw - 281px);
  max-width: 1228px;
  margin: 0 auto;
  padding: 48px 22px;
}


.tabScreenMenu {
  display: none !important;
}

.scrollTopButton {
  position: fixed;
  z-index: 1000;
  right: 24px;
  bottom: 24px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 30%);

  transition: opacity $transition-hover, transform $transition-hover;

  &:hover {
    transform: translateY(-2px);
  }
}

@media screen and (max-width: $media-laptop-plus) {
  .layoutMainContainer {
    width:100vw;
  }

  .scrollTopButton {
    right: 16px;
    bottom: 80px;
  }
}



@media screen and (max-width: $media-laptop-plus) {
  .layout {
    grid-template-areas:
      "header"
      "content"
      "footer"
      "tabMenu";
    grid-template-columns: minmax(0, 1fr);
  }

  .layoutMainContainer {
    padding: 24px 16px;
  }

  .sidebarLayout {
    display: none !important;
  }

  .tabScreenMenu {
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: -1px;
    left: 0;

    display: flex !important;
    grid-area: tabMenu;
  }
}
