@use "../../../shared/styles/variables.scss" as *;

.layout {
  display: grid;
  min-height: 100dvh;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "sidebar footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: $color-bg;
  color: $color-text-primary;
}

.headerLayout {
  grid-area: header;
}

.sidebarLayout {
  grid-area: sidebar;
}

.layoutMain {
  grid-area: content;
  padding: $spacing-2xl $spacing-md;
  overflow: auto;
}

.layoutMainContainer {
  max-width: $container-max-width;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 864px) {
  .layout {
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }
  .sidebarLayout {
    display: none !important;
  }
}
