@use "../../../shared/styles/variables.scss" as *;

.layout {
  display: grid;
  grid-template:
    "sidebar header" auto "sidebar content" 1fr "sidebar footer" auto / auto minmax(0, 1fr);

  height: 100dvh;

  color: $color-text-primary;

  background-color: $color-bg;
}

.headerLayout {
  grid-area: header;
}

.sidebarLayout {
  grid-area: sidebar;
}

.layoutMain {
  overflow-y: auto;
  grid-area: content;
  width: 100%;
  max-height: 100%;
}

.layoutMainContainer {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 48px 11px 48px 22px;
}

.tabScreenMenu {
  display: none !important;
}

.scrollTopButton {
  position: fixed;
  z-index: 1000;
  right: 24px;
  bottom: 24px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 30%);

  transition: opacity $transition-hover, transform $transition-hover;

  &:hover {
    transform: translateY(-2px);
  }
}

@media screen and (max-width: $media-laptop-plus) {
  .scrollTopButton {
    right: 16px;
    bottom: 80px;
  }
}



@media screen and (max-width: $media-laptop-plus) {
  .layout {
    grid-template-areas:
      "header"
      "content"
      "footer";
    grid-template-columns: minmax(0, 1fr);
  }

  .layoutMainContainer {
    padding: $spacing-lg-plus $spacing-9  $spacing-lg-plus $spacing-md;
  }

  .sidebarLayout {
    display: none !important;
  }

  .tabScreenMenu {
    display: flex !important;
  }
}
