@use "../../../shared/styles/variables" as *;

.slots {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dropdownClassName {
  display: none;
}

.headerClassName {
  margin-bottom: 7px;

  h4 {
    white-space: nowrap;
  }
}

@media screen and (width <= 864px) {
  .headerClassName {
    h4 {
      font-size: 24px;
      font-weight: 600;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.24px;
    }
  }

  .dropdownClassName {
    display: block;
  }
}

@media screen and (width <= 768px) {
  .headerClassName {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;

    &>div{
      max-width: 100%;
    }

    &>div>div:first-child{
      width: 100%;
      max-width: 100%;
    }
  }
}

@media screen and (width <= 640px) {
  .headerClassName {
    margin-top: 17px;
      margin-bottom: -10px;

    h4 {
      display: block;
    }
  }
}

