@use "../../../shared/styles/variables" as *;

.slots {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 133px;
}

@media screen and (max-width: $media-tab-mini-plus) {
  .slots {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 94px;
  }
}

@media screen and (max-width: $media-tab) {
  .slotsSection {
    margin-bottom: 17px;
  }

}

