@use "../../styles/variables" as *;

.radioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.radioGroupLabel {
  cursor: pointer;
  color: $color-text-secondary;
  transition: color $transition-hover;
}

.radioGroupItemWrapper {
  cursor: pointer;
  display: flex;
  gap: $spacing-xxs;
  align-items: center;

  &:hover {
    .radioGroupLabel {
      color: $color-text-primary;
    }
  }

  &[data-state="checked"] .radioGroupLabel {
    color: $color-win-primary;
  }
}

.radioGroupItem {
  cursor: pointer;

  width: 19px;
  height: 19px;

  background-color: $color-bg-on-block;
  border: none;
  border-radius: $radius-full;

  &[data-state="checked"] {
    color: $color-win-primary;
    background-color: $color-primary;
  }
}

.radioGroupItem[data-state="checked"] + label.radioGroupLabel {
  color: $color-win-primary;
}
