@use "../../shared/styles/variables.scss" as *;

.game {
  padding-left: 10px;
}

@media screen and (max-width: $media-laptop) {
  .th {
    width: 33%;
  }

  .payout {
    text-align: right;
  }

  .amount,
  .multiplier {
    display: none;
  }
}

@media screen and (max-width: $media-tab-mini) {
  .th {
    width: 50%;
  }

  .user {
    display: none;
  }

  .game {
    padding-left: $spacing-md;
  }
}