@use "../../shared/styles/variables.scss" as *;

.game {
  padding-left: 10px;
}

@media screen and (max-width: $media-laptop) {
  .home {
    .th {
      width: calc(100% / 3);
    }

    .payout {
      text-align: right;
    }

    .amount,
    .multiplier {
      display: none;
    }
  }

  .games {
    .th {
      width: calc(100% / 3);
    }

    .payout {
      text-align: right;
    }

    .amount,
    .multiplier {
      display: none;
    }
  }

  .game {
    .th {
      width: calc(100% / 5);
    }
  }
}


@media screen and (max-width: $media-tab-mini-plus) {
  .game {
    .th {
      width: calc(100% / 2);
    }

    .payout {
      text-align: right;
    }

    .amount,
    .multiplier,
    .user {
      display: none;
    }

    .game {
      padding-left: $spacing-md;
    }
  }
}

@media screen and (max-width: $media-tab-mini) {
  .home {
    .th {
      width: calc(100% / 2);
    }

    .user {
      display: none;
    }

    .game {
      padding-left: $spacing-md;
    }
  }

  .games {
    .th {
      width: calc(100% / 2);
    }

    .user {
      display: none;
    }

    .game {
      padding-left: $spacing-md;
    }
  }


}